.table :where(thead, tfoot) :where(th, td) {
    --tw-bg-opacity: 1;
    background-color: #19418b;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.fcc-btn {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
  }
  
  .fcc-btn:hover {
    background-color: #223094;
  }

  .card {
    background-color: #3281bf;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--rounded-box, 1rem);
    /* padding-right: 2rem; */
    margin: 2rem;
    margin-top: 0rem;
    margin-left: 7rem;

}