<module-header title="{{ title }}">
  <solicitud-breadcrumbs breadcrumbs>
    <li><a routerLink="/system/solicitud/form">Asignar</a></li>
    <li *ngIf="formGroup.get('created_by.person.names')?.value">
      <a>{{ formGroup.get("created_by.person.names")?.value }}</a>
    </li>
  </solicitud-breadcrumbs>
  <div tabs class="h-8"></div>
</module-header>


<div class="p-1 grid grid-cols-1 bg-white border-t-[1px] border-[#535a6650]">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <div class="grid h-20 flex-grow rounded-box text-dark py-5">
      <app-estados-solicitud-combobox class="w-full col-span-2" formControlName="status">
      </app-estados-solicitud-combobox>
    </div>
    <div class="grid h-60 card bg-white text-dark  rounded-box">
      <div formGroupName="created_by" class="flex w-full p-3.5 text-dark py-3">
        <div formGroupName="person" class="grid h-20 flex-grow rounded-box text-dark">
          <h2 class="text-xl p-2">
            Datos del Estudiante
          </h2>
          <p class="p-2">Nombre: {{ formGroup.get('created_by.person.names')?.value}}</p>
          <p class="p-2">Identificacion: {{ formGroup.get('created_by.person.identification')?.value}}</p>
        </div>
        <div class="grid h-20 flex-grow rounded-box text-dark py-5">
          <p class="p-2">Apellidos: {{ formGroup.get('created_by.person.last_names')?.value}}</p>
          <p class="p-2">Email: {{ formGroup.get('created_by.email')?.value}}</p>
        </div>
        <div class="grid h-20 flex-grow rounded-box text-dark py-5">
          <p class="p-2">Carrera: {{ formGroup.get('created_by.person.last_names')?.value}}</p>
          <p class="p-2">Semestre: {{ formGroup.get('created_by.email')?.value}}</p>
        </div>
      </div>
      <div formGroupName="created_by" class="flex w-full p-7.5 text-dark py-3">
        <div formGroupName="person" class="grid h-20 flex-grow rounded-box text-dark">
          <h2 class="text-xl p-2">
            Datos de la solicitud
          </h2>
          <p class="p-2">solicitud de: {{ formGroup.get('type_of_request')?.value}}</p>
        </div>
        <div class="grid h-20 flex-grow rounded-box text-dark py-5">
          <p class="p-2">Fecha de Emisión: {{ formGroup.get('created_at')?.value | date:'yyyy-MM-dd' }}</p>

        </div>
        <div class="grid h-20 flex-grow rounded-box text-dark py-5">
          <p class="p-2">Carrera: {{ formGroup.get('created_by.person.last_names')?.value}}</p>
        </div>

      </div>
    </div>


    <div class="grid grid-cols-5 gap-8 my-8">
      <div class="col-span-1 text-neutral">
        <h3 class="font-bold">Proyectos y Fundaciones</h3>
        <p class="text-sm">
          Al asignar un proyecto mostrara la informacion a ala fundación a la que pertenece.
        </p>
      </div>

      <div
              class="col-span-4 p-12 px-20 border border-[#535A6640] relative bg-neutral-content bg-[#ebecf090] rounded-md"
      >

        <div>
          <div class="w-2/5">
            <app-proyecto-combobox formControlName="projects"></app-proyecto-combobox>
          </div>
          <!--
          <div *ngIf="currentSolicitude.projects" class="mt-8">
            <h1>hlaaaaaa</h1>
            <p class="p-2">Nombre: {{ formGroup.get('projects')?.value}}</p>
            <p class="p-2">Nombre: {{ formGroup.get('projects.names')?.value}}</p>
            <app-proyecto-info class="py-4" [foundationId]="formGroup.get('projects')?.value"
            ></app-proyecto-info>
          </div>
          -->
        </div>
      </div>
    </div>

  </form>
</div>
