<module-header title="{{ title }}">
  <solicitud-breadcrumbs breadcrumbs>
    <li><a routerLink="/system/solicitud/form">Asignar</a></li>
    <li *ngIf="formGroup.get('created_by.person.names')?.value">
      <a>{{ formGroup.get("created_by.person.names")?.value }}</a>
    </li>
  </solicitud-breadcrumbs>
  <div tabs class="h-8"></div>
</module-header>


<section>
  <div class="bg-neutral-content flex items-center  w-90 h-full p-20 border-t-[1px] border-[#535a6650]">
    <div class="a4-container bg-white text-black border border-gray-400 p-30 relative">
      <!-- cuadro de asigancion
  <form *ngFor="let solicitud of solicitudes" >
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">-->
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="hoja">
          <!-- Fecha -->
          <div class="h-40">
            <p class="!text-right font-bold">{{ obtenerFechaActual() }}</p>
          </div>

          <h3 class="text-center font-bold uppercase h-20">
            SOLICITUD{{formGroup.get('type_request_id.catalog_value')?.value}}</h3>
          <div class=" h-50">
            <p class="text-left">
              El Sr/Sra:
              <span class="text-left font-bold uppercase ">{{
                formGroup.get('created_by.person.names')?.value}} {{
                formGroup.get('created_by.person.last_names')?.value}}</span>,
              con numero de Cedula: <span class="text-left font-bold uppercase ">{{
                formGroup.get('created_by.person.identification')?.value}}</span>,
            </p>
            <p class="text-left ">
              y Correo Electronico: <span class="text-left font-bold ">{{
                formGroup.get('created_by.email')?.value}}</span>, cursando la carrera: <span
                class="text-left font-bold uppercase ">{{formGroup.get('who_made_request_id.project.career_id.name')?.value}}</span>,
            </p>
            <p class="text-left h-20">
              en el Semestre <span
                class="text-left font-bold uppercase ">{{formGroup.get('created_by.person.last_names')?.value}}</span>
            </p>

            <!-- combobox-->
            <div *ngIf="selectedProject">
              <div class="h-20">
                <h4 class="text-center font-bold uppercase">Información del proyecto</h4>
                <p>Fundacion:</p>
                <p>Encargado:</p>
                <p>Direccion:</p>
                <p>Proyecto: {{selectedProject.name}}</p>
              </div>
            </div>

          </div>






          <div>
            <p class="text-left mb-16">Presente.</p>

            <h4 class="text-left">De mi consideración:</h4>

            <!-- Desarrollo -->
            <div class="text-center mb-20">
              <p></p>
            </div>

            <h4 class="text-left">Atentamente,</h4>

            <!-- Sección de firmas -->
            <div class="flex justify-between">
              <div class="w-1/3">
                <hr class="border border-gray-400 mb-1">
                <p class="text-center">Firma del emisor</p>
              </div>
            </div>
          </div>
        </div>
      </form>


      <!-- cuadro de asigancion -->
      <div class="absolute right-12 -top-40">
        <div class="relative">
          <div class="absolute w-60 top-60 left-12 bg-white rounded-md shadow-lg p-2 flex flex-col space-y-0">
            <div class="border-b pb-2 mb-2 font-light flex items-center justify-between">
              <h1>Asignar Fundacion</h1>
            </div>

            <span class="text-xs opacity-50">Fundacion: </span>

            <div class="w-full !my-2">
              <div class="relative">
                <!--<app-proyectos-combobox id="whoMadeRequestId" formControlName="project_id" [(ngModel)]="selectedProject"></app-proyectos-combobox>-->

                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Proyectos</mat-label>
                  <mat-select [formControl]="proyectosFormControl" [errorStateMatcher]="matcher"
                    [(ngModel)]="selectedProject">
                    <mat-option *ngFor="let proyecto of proyectos" [value]="proyecto.id">{{proyecto.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="proyectosFormControl.hasError('required')">Este campo es
                    <strong>requerido</strong></mat-error>
                  <mat-hint *ngIf="proyectos?.length === 0">No hay proyectos</mat-hint>
                </mat-form-field>


              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- cuadro de asigancion -->
      <div *ngIf="selectedProject" class="grid place-items-center">
        <button class="btn btn-info w-25">Asignar</button>
      </div>
    </div>
  </div>


</section>


<!--otra tabla

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <div formGroupName="created_by" class="flex w-full p-3.5 text-dark py-3">
    <div formGroupName="person" class="grid h-20 flex-grow rounded-box text-dark">
      <h2 class="text-xl p-2">
        Datos del Estudiante
      </h2>
      <p class="p-2">Nombre: {{ formGroup.get('created_by.person.names')?.value}}</p>
      <p class="p-2">Identificacion: {{ formGroup.get('created_by.person.identification')?.value}}</p>
    </div>
    <div class="grid h-20 flex-grow rounded-box text-dark py-5">
      <p class="p-2">Apellidos: {{ formGroup.get('created_by.person.last_names')?.value}}</p>
      <p class="p-2">Email: {{ formGroup.get('created_by.email')?.value}}</p>
    </div>
    <div class="grid h-20 flex-grow rounded-box text-dark py-5">
      <p class="p-2">Carrera: {{ formGroup.get('created_by.person.last_names')?.value}}</p>
      <p class="p-2">Semestre: {{ formGroup.get('created_by.email')?.value}}</p>
    </div>
  </div>
  <div formGroupName="created_by" class="flex w-full p-7.5 text-dark py-3">
    <div formGroupName="person" class="grid h-20 flex-grow rounded-box text-dark">
      <h2 class="text-xl p-2">
        Datos de la solicitud
      </h2>
      <p class="p-2">solicitud de: </p>
    </div>
    <div class="grid h-20 flex-grow rounded-box text-dark py-5">
      <p class="p-2">Carrera: {{ formGroup.get('who_made_request_id.project.name')?.value}}</p>
    </div>
  </div>


  <div>
    <label for="approvalDate">Fecha de Aprobación:</label>
    <input type="text" id="approvalDate" formControlName="approval_date" />
  </div>

  <div>
    <label for="whoMadeRequestId">ID del Solicitante:</label>
    <app-proyectos-combobox id="whoMadeRequestId" formControlName="project_id"></app-proyectos-combobox>

  </div>

  <button type="submit">Asignar</button>
</form>

<div *ngIf="loading">Cargando...</div>-->
