body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("../../../assets/images/yec.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  .card-normal {
	width: 100%;
	max-width: 30rem;
  }
  
  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
  }
  
  .form-container {
	width: 100%;
	padding: 2rem;
	background-color: #ffffff; 
	position: relative;
  }
  
  .overlay-container {
	position: relative;
	background-color: #ffffff; /* Agregado: fondo azul */
	display: flex; /* Agregado: establecer el contenedor como flex */
  }
  
  .overlay {
	position: absolute;
	top: 0;
	right: 0; /* Modificado: alinear a la derecha */
	transform: translateX(100%); /* Agregado: mover fuera del contenedor */
	background-color: #007bff; /* Agregado: fondo azul */
	color: #fff; /* Agregado: texto en blanco */
	padding: 2rem; /* Agregado: espaciado interno */
  }
  
  .overlay-panel {
	text-align: center;
  }

  .overlay-right {
	transform: translateX(0); /* Modificado: volver a la posición original */
  }
  
  .card-body {
	padding: 2rem;
  }
  
  .card-bordered {
	border: 1px solid #ddd;
	border-radius: 0.5rem;
  }
  
  .card-title {
	margin-bottom: 1rem;
  }
  
  .btn {
	display: inline-block;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
  }
  
  .btn-primary {
	background-color: #007bff;
	color: #fff;
	border: none;
  }
  
  .btn-primary:hover,
  .btn-primary:focus {
	background-color: #0069d9;
	color: #fff;
  }
  
  .btn-primary:disabled,
  .btn-primary:hover:disabled,
  .btn-primary:focus:disabled {
	background-color: #007bff;
	opacity: 0.65;
	cursor: not-allowed;
  }
  
  .image-full {
	width: 100%;
  }
  
  .text-neutral {
	color: #333;
  }
  
  .text-primary {
	color: #007bff;
  }
  
  .bg-primary {
	background-color: #007bff;
  }
  
  .opacity-80 {
	opacity: 0.8;
  }
  