<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>

<app-proyecto-breadcrumbs breadcrumbs>
  <li><a routerLink="/system/proyecto/form-firmas">Firmas</a></li>
</app-proyecto-breadcrumbs>
<div class="pestanas">
  <a href="/system/proyecto/form-datos-generales" class="Datos Generales">Datos Generales</a>
  <a href="/system/proyecto/form-empresa" class="Empresa">Empresa</a>
  <!-- <a href="/system/proyecto/form-integrantes" class="Integrantes">Integrantes</a> -->
  <a href="/system/proyecto/form-actividades" class="Actividades">Actividades</a>
  <a href="/system/proyecto/form-plan-de-trabajo" class="Plan de Trabajo">Plan de Trabajo</a>
  <a href="/system/proyecto/form-firmas" class="Firma">Cronograma y Financiamiento</a>
  <!-- <a href="/system/proyecto/form-bibliografia" class="Bibliografía">Bibliografía</a>
  <a href="/system/proyecto/form-anexos" class="Anexos">Anexos</a> -->
  <a href="/system/proyecto/form-observaciones" class="Observaciones">Observaciones</a>
  <!-- <a href="/system/proyecto/form-documentos" class="Adjuntar Documentos">Adjuntar Documentos</a>
  <a href="/system/proyecto/form-certificados" class="Solicitud de Certificados">Solicitud de Certificados</a> -->
</div>
<!-- 
<form name="registro" novalidate>
  <div class="row">

          <section class="input-field col s12 m2 sizze"> <label for="nombre" class=" fblack">Num</label><br><br>
          <input type="text" [(ngModel)]="currentEntity.numero" name="numero" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
          <section class="input-field col s12 m2 sizze3"><label for="nombre" class=" fblack">Cargo</label><br><br>
          <input type="text" [(ngModel)]="currentEntity.cargo" name="cargo" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
          <section class="input-field col s12 m2 sizze6"><label for="nombre" class=" fblack">Nombre y Titulo Profesional</label><br><br>
          <input type="text" [(ngModel)]="currentEntity.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
          <section class="input-field col s12 m2 sizze6"><label for="nombre" class=" fblack">Cedula</label><br><br>
            <input type="text" [(ngModel)]="currentEntity.cedula" name="cedula" required pattern="[ñáéíóúA-Za-z ]+">
            </section>
  </div>

        <div class="row">
              <section class="input-field col s12 m2 sizze">
              <input type="text" [(ngModel)]="currentEntity.numero" name="numero" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze3">
              <input type="text" [(ngModel)]="currentEntity.cargo" name="cargo" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
              <input type="text" [(ngModel)]="currentEntity.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
                <input type="text" [(ngModel)]="currentEntity.cedula" name="cedula" required pattern="[ñáéíóúA-Za-z ]+">
                </section>
        </div>


            <div class="row">
              <section class="input-field col s12 m2 sizze">
              <input type="text" [(ngModel)]="currentEntity.numero" name="numero" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze3">
              <input type="text" [(ngModel)]="currentEntity.cargo" name="cargo" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
              <input type="text" [(ngModel)]="currentEntity.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
                <input type="text" [(ngModel)]="currentEntity.cedula" name="cedula" required pattern="[ñáéíóúA-Za-z ]+">
                </section>
            </div>

            <div class="row">
              <section class="input-field col s12 m2 sizze">
              <input type="text" [(ngModel)]="currentEntity.numero" name="numero" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze3">
              <input type="text" [(ngModel)]="currentEntity.cargo" name="cargo" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
              <input type="text" [(ngModel)]="currentEntity.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
                <input type="text" [(ngModel)]="currentEntity.cedula" name="cedula" required pattern="[ñáéíóúA-Za-z ]+">
                </section>
            </div>

  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light right" type="submit" >Confirmar


  </button>
</form> -->
<form #imageForm="ngForm" (ngSubmit)="enviarImagen()">
  <br>
  <div class="col-4">
      <label for='imagen'><b>CRONOGRAMA</b></label>
  </div>
  <div class="col-4"> <input type="file" name="imagen"  (change)="seleccionarCronograma($event)"> </div>
  <br>
  <div class="col-4">
    <label for='imagen'><b>FINANCIAMIENTO</b></label>
</div>
<div class="col-4"> <input type="file" name="imagen"  (change)="seleccionarFinanciamiento($event)"> </div>
<br>
<br>
<button type="subtmit" class="btn btn-info">Agregar Imagen</button>
</form>