.my_table tbody tr:nth-child(even) {
  background-color: #ebecf080;
}

.my_table tbody tr:nth-child(even):hover {
  background-color: #4052b510;
}

.overlay-menu {
  z-index: 100; /* Ajusta el valor según sea necesario */
}

.table-container {
  position: relative; /* Asegura que el menú emergente se sobreponga a la tabla */
  z-index: 1; /* Asegura que la tabla esté detrás del menú emergente */
}

.font-small{
  font-size: 15px;
}

.left{
  position: absolute;
  right: 3%;
  width: 120px;
  transform: translateY(-50%);
}

.right{
  position: absolute;
  padding-top: 1%;
  left: 6%;
  width: 1200px;
  transform: translateY(-50%);
}

