<module-header title="Solicitudes Archivadas">
  <solicitud-breadcrumbs breadcrumbs><li><a routerLink="/system/solicitud/list/archived">Archivados</a></li></solicitud-breadcrumbs>
  <solicitud-tabs tabs route="archivadas"></solicitud-tabs>
</module-header>
<div class="w-full min-h-[calc(100vh-4rem-9rem+4px)] p-4 bg-white border-t-[1px] border-[#535a6650]">
  <div class="flex justify-between my-4">
    <div class="w-1/2">
      <div class="relative">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
          <span class="fa-solid fa-magnifying-glass"></span>
        </div>
        <input type="text" id="table-search" #search (keyup)="searchArchivedSolicitudByTerm(search.value)" 
         class="input input-sm block h-8 p-2 pl-5 w-full max-w-xs text-sm text-neutral bg-[#ebecf0] !border-[#535A6640] rounded-md border !outline-[#535A6620]"
          placeholder="Buscar">
      </div>
    </div>
    <!-- <div class="flex">
      <button *permissions="['CREAR_USUARIOS']"
        class="btn btn-sm gap-2 rounded-md bg-primary text-xs border-0 shadow	shadow-[#3f51b5] px-8 ml-4 hover:bg-primary-focus hover:scale-105"
        routerLink="/system/portafolios">
        <span class="fas fa-plus text-sm leading-none"></span>
        Nuevo
      </button>
    </div> -->
  </div>

  <div>
    <div class="px-4 py-1 text-xs">
      <h3 class="font-medium"><span class="font-bold">{{solicitudes.length}}</span>Solicitudes</h3>
    </div>
    <div class="overflow-hidden relative rounded-md">
      <div
        class="min-h-[calc(100vh-4rem-20rem)] overflow-hidden bg-neutral-content border border-[#535a6650] rounded-md relative mb-4">
        <table class="my_table w-full text-sm text-left text-neutral">
          <thead class="text-xs text-white uppercase bg-primary">
            <tr>
              <th scope="col" class="py-3 px-6">#</th>
              <th scope="col" class="py-3 px-6">
                <div class="flex items-center">
                  Tipo de Solicitud
                  <a class="cursor-pointer ml-1" *ngIf="reverse && solicitudes.length > 1" (click)="reversOrder()">
                    <span class="fa-solid fa-caret-up"></span>
                  </a>
                  <a class="cursor-pointer ml-1" *ngIf="!reverse && solicitudes.length > 1" (click)="reversOrder()">
                    <span class="fa-solid fa-caret-down"></span>
                  </a>
                </div>
              </th>
              <th scope="col" class="py-3 px-6">
                Nombre del Estudiante
              </th>
              <th scope="col" class="py-3 px-6">
                Cedula del Estudiante
              </th>
              <th scope="col" class="py-3 px-6">
                Fecha de Emisión
              </th>
              <th scope="col" class="py-3 px-6">
                Estado
              </th>
              <th scope="col" class="py-3 px-6">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody class="divide-y-[0.5px] divide-[#535A6640]">
            <tr class="bg-white hover:bg-[#4052b510] transition-all"
              *ngFor="let solicitud of solicitudes | paginate: config; let index = index">
              <th scope="row" class="py-[3.8px] px-6 font-medium text-neutral whitespace-nowrap dark:text-neutral">
                <!-- Indice en orden ascendente -->
                <span *ngIf="!reverse">{{ config.itemsPerPage * (config.currentPage - 1) + index + 1 }}</span>
                <!-- indice en orden descentente -->
                <span *ngIf="reverse">{{ solicitudes.length - (config.itemsPerPage * (config.currentPage - 1) + index)
                  }}</span>
              </th>
              <td class="py-[3.8px] px-6 capitalize">
                <span>{{solicitud.type_of_request}}</span>
              </td>
              <td class="py-[3.8px] px-6 font-medium text-neutral whitespace-nowrap dark:text-neutral capitalize">
                <span>{{solicitud.created_by.person.names}}</span>
              </td>
              <td class="py-[3.8px] px-6">
                <span>{{solicitud.created_by.person.identification }}</span>
              </td>
              <td class="py-[3.8px] px-6">
                <span>{{pipe.transform(solicitud.created_at, 'dd/MM/yyyy')}}</span>
              </td>
              <td class="py-[3.8px] px-6 capitalize">
                <span>{{solicitud.status}}</span>
              </td>
              <th class="py-[3.8px] px-6 text-right" *permissions="['ACTUALIZAR_SOLICITUD','ARCHIVAR_SOLICITUD']">
                <!-- <span [routerLink]="['/system/personal/usuarios/form/', solicitud.id]"
                  class="fa-solid fa-eye text-lg cursor-pointer transition-all hover:text-primary"
                  *permissions="['ACTUALIZAR_SOLICITUD']"></span> -->
                <!-- <span class="fa-solid fa-box-archive text-lg ml-3 cursor-pointer transition-all hover:text-red-600"
                 click="archiveSolicitud(solicitud)" *permissions="['ARCHIVAR_SOLICITUD']"></span> -->
                 <span 
                 (click)="restaureSolicitud(solicitud)"
                  class="fa-solid fa-clock-rotate-left text-lg cursor-pointer transition-all hover:text-primary" 
                  *permissions="['RESTAURAR_SOLICITUD']">
                </span>
                 <span
                   
                    class="fa-regular fa-trash-can text-lg ml-3 cursor-pointer transition-all hover:text-red-600"
                    *permissions="['ARCHIVAR_SOLICITUD']"
                  ></span>
              </th>
            </tr>
          </tbody>
        </table>
        <div *ngIf="loading || solicitudes.length == 0" class="h-[calc(100%)] w-full absolute z-10 top-0 left-0">
          <div *ngIf="loading" class="h-full w-full bg-[#535a6610] backdrop-blur-sm">
            <loader></loader>
          </div>
          <no-content *ngIf="solicitudes.length == 0 && !loading"></no-content>
        </div>
      </div>
      <!-- Paginación de tabla -->
      <pagination [config]="config"></pagination>

    </div>

  </div>
</div>

