<div class="flex flex-col w-full">
  <h2 class="text-center text-4xl text-blue-500 font-thin">Asignación de Estudiantes</h2>
  <br>
  <h3 class="text-center">
    <span class="text-2xl font-normal text-black">{{ nombreFundacion }}</span>
  </h3>
  <br>
  <div class="flex">
    <!-- Formulario de crear -->
    <div class="w-1/2">
      <ng-container *ngIf="!showUpdateForm && !showAgregarTutorForm">
        <h2 class="custom-small text-blue-500 font-thin my-4">Formulario Agregar</h2>
        <div class="flex justify-center gap-4">
          <div class="w-48">
            <label for="proyectosCombobox">Proyectos:</label>
            <select id="proyectosCombobox" [(ngModel)]="selectedProyecto" class="select select-info w-full">
              <option *ngFor="let proyecto of proyectosFundacion" [ngValue]="proyecto">{{ proyecto.name }}</option>
            </select>
          </div>
          <div class="w-48">
            <label for="usuariosCombobox">Estudiante:</label>
            <select id="usuariosCombobox" name="usuariosCombobox" [(ngModel)]="selectedUsuario"
              class="select select-info w-full">
              <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.person.names }} {{
                usuario.person.last_names }}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="flex justify-center">
          <button
            class="btn btn-sm gap-2 rounded-md bg-info text-xs border-0 shadow shadow-[#3f51b5] px-8 ml-4 hover:bg-primary-focus hover:scale-105"
            type="submit" (click)="agregarUsuario()" [disabled]="!selectedProyecto || !selectedUsuario">Agregar</button>
          <button
            class="btn btn-sm gap-2 rounded-md bg-green-500 text-xs border-0 shadow shadow-[#5dc562] px-8 ml-4 hover:bg-primary-focus hover:scale-105"
            type="submit" (click)="mostrarFormularioTutor()">Agregar Tutor</button>
        </div>
        <br>
        <div class="alert alert-warning flex items-center justify-center w-auto h-auto"  *ngIf="showAsignacionError">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span>El estudiante ya está asignado a un proyecto</span>
        </div>
      </ng-container>
      <!-- Formulario de actualizar -->
      <ng-container *ngIf="showUpdateForm && participantToUpdate">
        <h2 class="custom-small text-blue-500 font-thin my-4">Formulario Actualizar</h2>
        <div class="flex justify-center gap-4">
          <div class="w-48">
            <label for="proyectosCombobox">Proyectos:</label>
            <select id="proyectosCombobox" [(ngModel)]="updatedProyecto" class="select select-info w-full">
              <option *ngFor="let proyecto of proyectosFundacion" [ngValue]="proyecto">{{ proyecto.name }}</option>
            </select>
          </div>
          <div class="w-48">
            <label for="usuariosCombobox">Estudiante:</label>
            <select id="usuariosCombobox" name="usuariosCombobox" [(ngModel)]="updatedUsuario"
              class="select select-info w-full">
              <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.person.names }} {{
                usuario.person.last_names }}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="flex justify-center">
          <button
            class="btn btn-sm gap-2 rounded-md bg-info text-xs border-0 shadow shadow-[#3f51b5] px-8 ml-4 hover:bg-primary-focus hover:scale-105"
            type="submit" (click)="updateParticipantData()">Actualizar</button>
        </div>
        <br>
        <div class="alert alert-warning flex items-center justify-center w-auto h-auto" *ngIf="showUpdateError">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="text-sm text-white">El estudiante ya está asignado a otro proyecto</span>
        </div>
      </ng-container>
      <!-- Formulario de agregar tutor -->
      <ng-container *ngIf="showAgregarTutorForm">
        <h2 class="custom-small text-blue-500 font-thin my-4">Formulario Agregar Tutor</h2>
        <div class="flex justify-center gap-4">
          <div class="w-48">
            <label for="proyectosCombobox">Proyectos:</label>
            <select id="proyectosCombobox" [(ngModel)]="selectedProyecto" class="select select-info w-full">
              <option *ngFor="let proyecto of proyectosFundacion" [ngValue]="proyecto">{{ proyecto.name }}</option>
            </select>
          </div>
          <div class="w-48">
            <label for="tutoresCombobox">Tutor:</label>
            <select id="tutoresCombobox" name="tutoresCombobox" [(ngModel)]="selectedTutor"
              class="select select-info w-full">
              <option *ngFor="let tutor of tutores" [value]="tutor.id">{{ tutor.person.names }} {{
                tutor.person.last_names }}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="flex justify-center">
          <button
            class="btn btn-sm gap-2 rounded-md bg-info text-xs border-0 shadow shadow-[#3f51b5] px-8 ml-4 hover:bg-primary-focus hover:scale-105"
            type="submit" (click)="agregarTutor()" [disabled]="!selectedTutor || !selectedProyecto">
            Guardar Tutor
          </button>
          <button
            class="btn btn-sm gap-2 rounded-md bg-green-500 text-xs border-0 shadow shadow-[#5dc562] px-8 ml-4 hover:bg-primary-focus hover:scale-105"
            type="submit" (click)="showAgregarTutorForm = false">Regresar</button>
        </div>
        <br>
        <div class="alert alert-warning flex items-center justify-center w-auto h-auto" *ngIf="errorAlertVisible">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="text-sm text-white">El Proyecto ya tiene asignado a un Docente Tutor</span>
        </div>

      </ng-container>
    </div>
    <!-- Lista de asignación -->
    <div class="w-1/2">
      <div class="overflow-hidden relative rounded-md">
        <h2 class="custom-small text-blue-500 font-thin my-4">Lista de Asignación</h2>
        <div
          class="min-h-[400px] overflow-hidden bg-neutral-content border border-[#535a6650] rounded-md relative mb-4">
          <table class="my_table w-full text-sm text-neutral table-compact" style="font-size: 0.8rem;">
            <thead class="text-xs text-white uppercase bg-primary">
              <tr>
                <th class="text-center">Rol</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Proyecto</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody class="divide-y-[0.5px] divide-[#535A6640]">
              <tr class="bg-white hover:bg-[#4052b510] transition-all" *ngFor="let participant of projectParticipants">
                <ng-container *ngIf="participant.project_id.beneficiary_institution_id?.id === fundacionSeleccionadaId">
                  <td class="text-center">{{ participant.role }} </td>
                  <td class="text-center">{{ participant.participant_id.person.names }} {{
                    participant.participant_id.person.last_names }}</td>
                  <td class="text-center">{{ participant.project_id.name }}</td>
                  <td class="text-center">
                    <span class="fa-solid fa-eye text-lg cursor-pointer transition-all hover:text-primary"
                      (click)="updateParticipant(participant)"></span>
                    <span class="fa-solid fa-box-archive text-lg ml-3 cursor-pointer transition-all hover:text-red-600"
                      (click)="eliminarParticipant(participant)"></span>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
