<module-header title="">
  <app-portafolio-breadcrumbs breadcrumbs>

  </app-portafolio-breadcrumbs>
  <div tabs class="h-8"></div>
</module-header>


<form>
  <h2>Briefcase</h2>
  <label>Observations:</label>
  <input type="text" [(ngModel)]="briefcaseData.observations" name="observations">
  <!-- Agrega más campos según las propiedades necesarias -->

  <h2>Documents</h2>
  <div *ngFor="let document of documents; let i = index">
    <label>Name:</label>
    <input type="text" [(ngModel)]="document.name" name="name{{i}}">
    <!-- Agrega más campos según las propiedades necesarias -->

    <h3>File</h3>
    <label>Name:</label>
    <input type="text" [(ngModel)]="document.files[0].name" name="fileName{{i}}">
    <!-- Agrega más campos según las propiedades necesarias -->
  </div>

  <button type="button" (click)="addDocument()">Add Document</button>
  <button type="button" (click)="createBriefcase()">Create Briefcase</button>
</form>
