<mat-form-field appearance="fill" class="w-full">
  <mat-label>Proyectos</mat-label>
  <mat-select [formControl]="proyectosFormControl" [errorStateMatcher]="matcher">
    <mat-option *ngFor="let proyecto of proyectos" [value]="proyecto.id">{{proyecto.id +' '+ proyecto.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="proyectosFormControl.hasError('required')">Este campo es <strong>requerido</strong></mat-error>
  <mat-hint *ngIf="proyectos?.length === 0">No hay proyectos</mat-hint>
</mat-form-field>
