<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>

<app-proyecto-breadcrumbs breadcrumbs>
  <li><a routerLink="/system/proyecto/form-Observaciones">Observaciones</a></li>
</app-proyecto-breadcrumbs>



<div class="pestanas">
  <a href="/system/proyecto/form-datos-generales" class="Datos Generales">Datos Generales</a>
  <a href="/system/proyecto/form-empresa" class="Empresa">Empresa</a>
  <!-- <a href="/system/proyecto/form-integrantes" class="Integrantes">Integrantes</a> -->
  <a href="/system/proyecto/form-actividades" class="Actividades">Actividades</a>
  <a href="/system/proyecto/form-plan-de-trabajo" class="Plan de Trabajo">Plan de Trabajo</a>
   <a href="/system/proyecto/form-firmas" class="Firma">Firmas</a>
  <!--<a href="/system/proyecto/form-bibliografia" class="Bibliografía">Bibliografía</a>
  <a href="/system/proyecto/form-anexos" class="Anexos">Anexos</a> -->
  <a href="/system/proyecto/form-observaciones" class="Observaciones">Observaciones</a>
  <!-- <a href="/system/proyecto/form-documentos" class="Adjuntar Documentos">Adjuntar Documentos</a>
  <a href="/system/proyecto/form-certificados" class="Solicitud de Certificados">Solicitud de Certificados</a> -->
</div>

<form name="registro" [formGroup]="observacionesForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <section class="input-field col">
      <label for="nombre">
        <h5><b>&nbsp;Estado</b></h5>
      </label><br><br><br>
      <form formGroupName="estado">
        <input type="radio" ng-model="" formControlName="estadoRadio" id="aprobado" value="aprobado">
        <label for="aprobado" class="bgcolor">Aprobado</label>&nbsp;&nbsp;&nbsp;
        <input type="radio" ng-model="" formControlName="estadoRadio" id="enrevision" value="enrevision">
        <label for="enrevision">En Revisión</label>&nbsp;&nbsp;&nbsp;
        <input type="radio" ng-model="" formControlName="estadoRadio" id="corregido" value="corregido">
        <label for="corregido" class="bgcolor">Corregido</label>&nbsp;&nbsp;&nbsp;
        <input type="radio" ng-model="" formControlName="estadoRadio" id="rechazado" value="rechazado">
        <label for="rechazado">Rechazado</label>&nbsp;&nbsp;&nbsp;
        <input type="radio" ng-model="" formControlName="estadoRadio" id="enviado" value="enviado">
        <label for="enviado" class="bgcolor">Enviado a Senecyt</label>&nbsp;&nbsp;&nbsp;
        <input type="radio" ng-model="" formControlName="estadoRadio" id="porenviar" value="porenviar">
        <label for="porenviar">Por enviar a Senecyt</label>&nbsp;&nbsp;&nbsp;
        <input type="radio" ng-model="" formControlName="estadoRadio" id="desarrollo" value="desarrollo">
        <label for="desarrollo" class="bgcolor">En Desarrollo</label>&nbsp;&nbsp;&nbsp;
        <input type="radio" ng-model="" formControlName="estadoRadio" id="terminado" value="terminado">
        <label for="terminado">Terminado</label>&nbsp;&nbsp;&nbsp;
        <input type="radio" ng-model="" formControlName="estadoRadio" id="suspendido" value="suspendido">
        <label for="suspendido" class="bgcolor">Suspendido</label>&nbsp;&nbsp;&nbsp;
        <br><br><br>
        <div *ngIf="!estadoRadio" class="alert alert-danger ">
          Estado es un campo requerido.
        </div>
      </form>
    </section>
  </div>
  <div class="row">
    <section class="input-field col">
      <label for="nombre">
        <h5><b>&nbsp;Observaciones</b></h5>
      </label><br><br><br>
      <input type="text" class="materialize-textarea biginput" formControlName="observaciones" name="observacioness"
        [(ngModel)]="currentEntity.observacioness">
      <div *ngIf="observaciones?.invalid && (observaciones?.dirty || observaciones?.touched)"
        class="alert alert-danger ">
        <div *ngIf="observaciones?.errors?.['required']">
          Observaciones es un campo requerido.
        </div>
      </div>
    </section>
  </div>
  <h5><b>&nbsp;Autorizado por:</b></h5>
  <div class="row">

    <section class="input-field col s12 m2 sizze"> <label for="nombre" class=" fblack">Num</label><br><br>
      <input type="text" name="numero" required pattern="[ñáéíóúA-Za-z ]+">
    </section>
    <section class="input-field col s12 m2 sizze3"><label for="nombre" class=" fblack">Cargo</label><br><br>
      <input type="text" name="cargo" required pattern="[ñáéíóúA-Za-z ]+">
    </section>
    <section class="input-field col s12 m2 sizze6"><label for="nombre" class=" fblack">Nombre</label><br><br>
      <input type="text" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
    </section>
    <section class="input-field col s12 m2 sizze6"><label for="nombre" class=" fblack">Cedula</label><br><br>
      <input type="text" name="cedula" required pattern="[ñáéíóúA-Za-z ]+">
    </section>
  </div>
  <button class="btn waves-effect waves-light right" type="submit" [disabled]="!observacionesForm.valid">
    Confirmar
    <!--<img class="small pull-right" src="../../../../assets/images/visto.png" alt="">-->
  </button>
</form>