<div class="tabs flex w-full justify-between items-end flex-row-reverse">
  <a
    [routerLinkActive]="['tab-active']"
    routerLink="/system/{{ route }}/list/archived"
    class="tab tab-lifted !-mr-0 archived"
    *permissions="[
      'RESTAURAR_' + route.toUpperCase(),
      'ELIMINAR_' + route.toUpperCase()
    ]"
  >
    <span class="fa-regular fa-trash-can text-sm leading-none mr-2"></span>
    Archivados
  </a>
  <div></div>

  <div class="flex items-end">
    <a
      [routerLinkActive]="['tab-active']"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="'/system/' + route + '/list/'"
      class="tab tab-lifted"
      *permissions="[
        'CREAR_SOLICITUD',
        'ACTUALIZAR_SOLICITUD',
        'ELIMINAR_SOLICITUD'
      ]"
    >
      Todo
    </a>
    <a
      [routerLinkActive]="['tab-active']"
      routerLink="/system/{{ route }}/list/filter/vinculacion"
      class="tab tab-lifted"
      *permissions="[
        'CREAR_SOLICITUD',
        'ACTUALIZAR_SOLICITUD',
        'ELIMINAR_SOLICITUD'
      ]"
    >
      Vinculación
    </a>
    <a
      [routerLinkActive]="['tab-active']"
      routerLink="/system/{{ route }}/list/filter/certificado"
      class="tab tab-lifted"
      *permissions="[
        'LEER_SOLICITUD',
        'CREAR_SOLICITUD',
        'ACTUALIZAR_SOLICITUD',
        'ELIMINAR_SOLICITUD'
      ]"
    >
      Certificados
    </a>
    <a
      [routerLinkActive]="['tab-active']"
      routerLink="/system/{{ route }}/list/filter/pendiente"
      class="tab tab-lifted"
      *permissions="[
        'CREAR_SOLICITUD',
        'ACTUALIZAR_SOLICITUD',
        'ELIMINAR_SOLICITUD'
      ]"
    >
      Pendientes
    </a>
    <a
      [routerLinkActive]="['tab-active']"
      routerLink="/system/solicitud/list/filter/aprobado"
      class="tab tab-lifted"
      *permissions="[
        'LEER_SOLICITUD',
        'CREAR_SOLICITUD',
        'ACTUALIZAR_SOLICITUD',
        'ELIMINAR_SOLICITUD'
      ]"
    >
      Aprobados
    </a>
  </div>
</div>
