<br>
<div class="container mx-auto m-1" id="pdf">
  <div class="div"  *ngFor="let enc of encuestas">
    <div class="mx-auto bg-slate-200 mt-1   mb-1 p-1 pl-3 rounded-lg" *ngIf="enc && enc.id == 1" >
      <p >{{enc.tipo}}</p>
      <p >Nombre de la Institucion: "{{enc.nombre_institucion}}"</p>
      <p>Nombre de la Actividad Realizada: {{enc.actividad_realizada}}</p>
      <p >Nombre Docente Tutor: {{enc.docente_tutor}}</p>
      <p >Nombre del tutor de la entidad beneficiaria: {{enc.tutor_entidad_financiera}} </p>
    </div>
  </div>

  <table class="border-collapse border border-slate-500 ..." id="table" *ngFor="let enc of encuestas">

    <tbody *ngIf="enc && enc.id == 1">
      <tr>
        <td class="border border-slate-700 ... p-1 pl-2">Proyecto:</td>
        <td class="border border-slate-700 ... p-1 pl-2">{{enc.proyecto}}</td>
      </tr>
      <tr>
        <td class="border border-slate-700 ... p-1 pl-2">Codigo del Proyecto:</td>
        <td class="border border-slate-700 ... p-1 pl-2"> {{enc.codigo_proyecto}}</td>
      </tr>
      <tr>
        <td class="border border-slate-700 ... p-1 pl-2">Genero: </td>
        <td class="border border-slate-700 ... p-1 pl-2">{{enc.genero}}</td>
      </tr>
      <tr>
        <td class="border border-slate-700 ... p-1 pl-2">Rango de Edad</td>
        <td class="border border-slate-700 ... p-1 pl-2"> {{enc.rango_edad}}</td>
      </tr>
      <tr>
        <td class="border border-slate-700 ... p-1 pl-2">Fecha</td>
        <td class="border border-slate-700 ... p-1 pl-2">{{enc.fecha}}</td>
      </tr>
    </tbody>

  </table>


  <div class="div" *ngFor="let enc of encuestas">
    <div class="mx-auto bg-slate-200 m-1 p-1 pl-3 rounded-lg" *ngIf="enc && enc.id == 1" >
      <P >Objetivo: {{enc.objetivo}}</P>
      <P >Instrucivo: {{enc.instructivo}}</P>
      <P >Informacion General: {{enc.informacion_general}}</P>
    </div>
  </div>
  <button class="btn btn-outline btn-info mt-1 mb-2 p-3"
    routerLink="/system/estudiante/encuesta/agregar-encabezado">Crear Encabezado</button>


  <div class="card w-25 bg-white text-black ">
    <div class="card-body">
      <h2 class="card-title">Opciones!</h2>
      <div class="div" *ngFor="let respuesta of respuestas">
        <div class="div" *ngIf="respuesta && respuesta.encuestas_id === 1">
          <p >{{respuesta.id}}.{{respuesta.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>

  <table class="border-collapse border border-slate-950 ...">
    <thead >
      <tr  >
        <th class="border border-slate-950 ...">N°</th>
        <th class="border border-slate-950 ..."></th>
        <th class="border border-slate-950 m-2 p-3 ..." *ngFor="let res of respuestas">

            <p *ngIf="res.encuestas_id === 1 && res.preguntas_id  ==1   ">{{res.descripcion}}</p>

        </th>

        <th class="border border-slate-600 ...">NDS/NAC</th>
      </tr>
    </thead>
    <tbody *ngFor="let pregunta of preguntas">

      <tr *ngIf="pregunta.encuestas_id == 1">
        <td class="border border-slate-950 ...">{{pregunta.id}}</td>
        <td class="border border-slate-950 m-2 p-3 ">{{pregunta.descripcion}}..</td>
        <td class="border border-slate-700 ..."> </td>
        <td class="border border-slate-700 ..."> </td>
        <td class="border border-slate-700 ..."> </td>
        <td class="border border-slate-700 ..."> </td>
        <td class="border border-slate-700 ..."> </td>

      </tr>


    </tbody>
  </table>



  <button class="btn btn-outline btn-info" routerLink="/system/estudiante/encuesta/agregar-pregunta">Crear
    preguntas</button>
  <button class="btn btn-outline btn-info" routerLink="/system/estudiante/encuesta/agregar-respuesta">Crear
    Respuesta</button>

  <div class="div" *ngFor="let enc of encuestas">
    <div class="mx-auto bg-slate-200 mt-1 p-2 rounded-lg" *ngIf="enc && enc.id == 2">

      <p >{{enc.tipo}}..</p>
      <p >Programa: {{enc.actividad_realizada}}</p>
      <p >Objetivos: {{enc.objetivo}}</p>
      <p >Instrucciones: {{enc.instructivo}}</p>

    </div>
  </div>
  <button class="btn btn-outline btn-info" routerLink="/system/estudiante/encuesta/agregar-otro-encabezado">Crear
    Segunda Encuesta</button>

  <p class="p-3">PREGUNTAS</p>
  <button class="btn btn-outline btn-info" routerLink="/system/estudiante/encuesta/agregar-pregunta">Crear
    preguntas</button>
    <button class="btn btn-outline btn-info" routerLink="/system/estudiante/encuesta/agregar-respuesta">Crear
      Respuesta</button>




  <br>

  <div class="div " *ngFor="let p of preguntas">
    <div class="mx-auto bg-slate-200 mt-1   mb-1 p-1 pl-3 rounded-lg items-center justify-end" *ngIf="p.encuestas_id == 2">
      <p >{{p.id}}.{{p.descripcion}}</p>

      <div class="  m-3 pl-20 " *ngFor="let r of respuestas">

        <p class=" pl-20  " *ngIf="r.encuestas_id==2 && r.preguntas_id == p.id">{{r.descripcion}}</p>

      </div>
    </div>



  </div>



<button class="btn btn-outline btn-info"    routerLink="/system/estudiante/encuesta/previsualizacion">vizualizar pdf</button>






</div>
