<div class="grid grid-rows-3 h-[calc(100vh-4rem)]">
  <div class="bg-primary row-span-1 shadow-md shadow-[#3f51b5a6] z-10 p-6 text-white overflow-hidden relative">
    <h3 class="text-base opacity-20">
      Hola <span *ngIf="user">{{ user | FullNameShort }}</span>!
    </h3>

    <div class="w-full absolute bottom-5 left-0">
      <div class="w-full flex justify-between items-center p-6">
        <div>
          <h2 class="text-xl">Bienvenido al</h2>
          <h1 class="text-3xl font-bold">Sistema de Vinculación con la Sociedad</h1>
          <h3 class="text-xl">Yavirac</h3>
        </div>
        <div class="rounded-full h-20 w-20 bg-white flex justify-center items-center overflow-hidden p-1">
          <img src="/assets/images/LogoYavirac.png" alt="logo" />
        </div>
      </div>
      <div class="w-full flex">
        <span class="h-0.5 w-1/2 bg-[#FFDD00]"></span>
        <span class="h-0.5 w-1/4 bg-[#034EA2]"></span>
        <span class="h-0.5 w-1/4 bg-[#ED1C24]"></span>
      </div>
    </div>
  </div>



  <!-- scale -->
  <div class="flex h-96 mt-4 justify-start mx-8 bg-neutral-800 " *permissions="[
  'CREAR_SOLICITUD',
  'ACTUALIZAR_SOLICITUD',
  'ARCHIVAR_SOLICITUD',
  'RESTAURAR_SOLICITUD',
  'ELIMINAR_SOLICITUD',
  'EXPORTAR_SOLICITUD',
  'IMPORTAR_SOLICITUD',
]" >

    <div class="grid grid-cols-1 gap-5 md:grid-cols-2  lg:grid-cols-4 ">
      <div
        class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/75 rounded-lg">
        <div class="h-96 w-72 ">
          <img
            class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
            src="/assets/images/perfil.jpg" alt="" />
        </div>
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70">
        </div>
        <div
          class="absolute inset-0 flex translate-y-[40%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
          <h1 class="font-dmserif text-3xl font-bold text-white mb-8">Perfil</h1>
          <p
            class="mb-1 text-sm font-medium text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
            Revisa tus datos personales. </p>
          <button
            class="rounded-full bg-lime-800 py-2 px-3.5 font-com text-base capitalize text-white shadow shadow-black/60"
            [routerLink]="['/system/perfil/datos-personales']">Revisar</button>
        </div>
      </div>
      <div
        class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/75 rounded-lg">
        <div class="h-96 w-72">
          <img
            class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
            src="/assets/images/turismo.jpeg" alt="" />
        </div>
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70">
        </div>
        <div
          class="absolute inset-0 flex translate-y-[40%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
          <h1 class="font-dmserif text-3xl font-bold text-white mb-8">Portafolio</h1>
          <p
            class="mb-3 text-sm font-medium text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
            Revisa los portafolios enviadas por los estudiantes del Yavirac. </p>
          <button
            class="rounded-full bg-lime-800 py-2 px-3.5 font-com text-base capitalize text-white shadow shadow-black/60"
            [routerLink]="['/system/portafolio/list']">Verificar</button>
        </div>
      </div>
      <div
        class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/75 rounded-lg">
        <div class="h-96 w-72">
          <img
            class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
            src="/assets/images/marketing.jpeg" alt="" />
        </div>
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70">
        </div>
        <div
          class="absolute inset-0 flex translate-y-[40%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
          <h1 class="font-dmserif text-3xl font-bold text-white mb-8">Solicitudes</h1>
          <p
            class="mb-3 text-sm font-medium  text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
            Revisa las solicitudes enviadas por los estudiantes del Yavirac. </p>
          <button
            class="rounded-full bg-lime-800 py-2 px-3.5 font-com text-base capitalize text-white shadow shadow-black/60"
            [routerLink]="['/system/solicitud/list']">Revisar</button>
        </div>
      </div>

      <div
        class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/75 rounded-lg">
        <div class="h-96 w-72">
          <img
            class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
            src="/assets/images/software.jpg" alt="" />
        </div>
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70">
        </div>
        <div
          class="absolute inset-0 flex translate-y-[40%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
          <h1 class="font-dmserif text-3xl font-bold text-white mb-8">Proyectos</h1>
          <p
            class="mb-3 text-sm font-medium  text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
            Resiva los proyectos disponobles. </p>
          <button
            class="rounded-full bg-lime-800 py-2 px-3.5 font-com text-base capitalize text-white shadow shadow-black/60"
            [routerLink]="['/system/proyecto/list']">Revisar</button>
        </div>
      </div>

      <div
        class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/75 rounded-lg">
        <div class="h-96 w-72">
          <img
            class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
            src="/assets/images/bash.jpg" alt="" />
        </div>
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70">
        </div>
        <div
          class="absolute inset-0 flex translate-y-[40%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
          <h1 class="font-dmserif text-3xl font-bold text-white mb-8">Fundaciones</h1>
          <p
            class="mb-3 text-sm font-medium  text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
            Asigna estudiantes a las fundaciones disponibles. </p>
          <button
            class="rounded-full bg-lime-800 py-2 px-3.5 font-com text-base capitalize text-white shadow shadow-black/60"
            [routerLink]="['/system/institucion-beneficiaria/list']">Resivar</button>
        </div>
      </div>

      <div
        class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/75 rounded-lg">
        <div class="h-96 w-72">
          <img
            class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
            src="/assets/images/titulacion.jpg" alt="" />
        </div>
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70">
        </div>
        <div
          class="absolute inset-0 flex translate-y-[40%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
          <h1 class="font-dmserif text-3xl font-bold text-white mb-8">Documentos</h1>
          <p
            class="mb-3 text-sm font-medium  text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
            Configura los documentos del portafolio. </p>
          <button
            class="rounded-full bg-lime-800 py-2 px-3.5 font-com text-base capitalize text-white shadow shadow-black/60"
            [routerLink]="['/system/portafolio/configuracion']">Revisar</button>
        </div>
      </div>


      <div class="group relative bg-card max-w-sm rounded-lg overflow-hidden shadow-lg ">
        <div class="px-5">
          <div class="font-bold text-white text-xl mb-2">No olvides que:</div>
          <p class="text-white text-sm">
            “La educación es el arma más poderosa que puedes usar para cambiar el mundo”
          </p>
          <span class="font-bold text-white text-sm">Nelson Mandela</span>
        </div>

      </div>


    </div>

  </div>




</div>