<module-header title="Solicitudes">
  <solicitud-breadcrumbs breadcrumbs></solicitud-breadcrumbs>
  <solicitud-tabs tabs route="solicitud"></solicitud-tabs>
</module-header>

<div class="w-full min-h-[calc(100vh-4rem-9rem+4px)] p-4 bg-white border-t-[1px] border-[#535a6650]">
  <div class="flex justify-between my-4">
    <div class="w-1/2">
      <div class="relative">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
          <span class="fa-solid fa-magnifying-glass"></span>
        </div>
        <input type="text" id="table-search" #search (keyup)="searchSolicitudesByTerm(search.value)"
          class="input input-sm block h-8 p-2 pl-5 w-full max-w-xs text-sm text-neutral bg-[#ebecf0] !border-[#535A6640] rounded-md border !outline-[#535A6620]"
          placeholder="Buscar">
      </div>
    </div>
  </div>

  <div>
    <div class="px-4 py-1 text-xs">
      <h3 class="font-medium"><span class="font-bold">{{solicitudes.length}}</span>Solicitudes</h3>
    </div>
    <div class="overflow-hidden relative rounded-md">
      <div
      class="min-h-[calc(100vh-4rem-20rem)] overflow-hidden relative mb-4 table-container">
        <table class="w-full text-sm text-left text-neutral tabla">
          <thead class="text-xs text-white uppercase bg-primary">
            <tr>
              <th scope="col" class="py-3 px-6">#</th>
              <th scope="col" class="py-3 px-6">
                <div class="flex items-center">
                  Nombre del Estudiante
                  <a class="cursor-pointer ml-1" *ngIf="reverse && solicitudes.length > 1" (click)="reversOrder()">
                    <span class="fa-solid fa-caret-up"></span>
                  </a>
                  <a class="cursor-pointer ml-1" *ngIf="!reverse && solicitudes.length > 1" (click)="reversOrder()">
                    <span class="fa-solid fa-caret-down"></span>
                  </a>
                </div>
              </th>
              <th scope="col" class="py-3 px-6">
                Tipo de Solicitud
              </th>
              <th scope="col" class="py-3 px-6">
                Cedula
              </th>
              <th scope="col" class="py-3 px-6">
                Fecha de Emisión
              </th>
              <th scope="col" class="py-3 px-6">
                Estado
              </th>
              <th scope="col" class="py-3 px-6">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody class="divide-y-[0.5px] divide-[#535A6640]">
            <tr class="bg-white hover:bg-[#4052b510] transition-all"
              *ngFor="let solicitud of solicitudes | paginate: config; let index = index">
              <th scope="row" class="py-[3.8px] px-6 font-medium text-neutral whitespace-nowrap dark:text-neutral">
                <!-- Indice en orden ascendente -->
                <span *ngIf="!reverse">{{ config.itemsPerPage * (config.currentPage - 1) + index + 1 }}</span>
                <!-- indice en orden descentente -->
                <span *ngIf="reverse">{{ solicitudes.length - (config.itemsPerPage * (config.currentPage - 1) + index)
                  }}</span>
              </th>
              <td class="py-[3.8px] px-6 capitalize">
                <span>{{solicitud.created_by.person | NamesSurnamesComplete}}</span>
              </td>
              <td class="py-[3.8px] px-6 font-medium text-neutral whitespace-nowrap dark:text-neutral capitalize">
                <span>{{solicitud.type_request_id.catalog_value}}</span>
              </td>
              <td class="py-[3.8px] px-6">
                <span>{{solicitud.created_by.person.identification }}</span>
              </td>
              <td class="py-[3.8px] px-6">
                <span>{{pipe.transform(solicitud.created_at, 'dd/MM/yyyy')}}</span>
              </td>
              <td class="py-[3.8px] px-6">
                <div *ngIf="solicitud.solicitudes_status_id.catalog_value ==='Aprobado'" class="flex items-center">
                  <div class="h-2.5 w-2.5 rounded-full bg-green-400 mr-2"></div> Aprobado
                </div>
                <div *ngIf="solicitud.solicitudes_status_id.catalog_value  ==='Pendiente'" class="flex items-center">
                  <div class="h-2.5 w-2.5 rounded-full bg-gray-400 mr-2"></div> Pendiente
                </div>
              </td>

              <th class="py-[3.8px] px-6 text-right">
                <!--
                <ng-template [ngIf]='solicitud.type_request_id.catalog_value === vinculacion'>
                  <span class="fa-solid fa-ellipsis-v text-lg cursor-pointer transition-all hover:text-primary"
                    (click)="openOptionsMenu(solicitud.id)"></span>

                  <div *ngIf="showOptionsMenu[solicitud.id]"
                    class="absolute right-0 mt-2 py-2 w-22 bg-white border border-[#535A6640] rounded-md shadow-lg">
                    <span [routerLink]="['/system/solicitud/form/', solicitud.id]"
                      class="fa-solid fa-eye text-sm cursor-pointer transition-all hover:text-primary"
                      (click)="checkParticipantMatch(solicitud.created_by.id, solicitud.id)"></span>
                      <span>Asignar</span>
                  </div>
                </ng-template>
              -->
              <ng-template [ngIf]='solicitud.type_request_id.catalog_value === vinculacion'>
                <div class="relative inline-block">
                  <span class="fa-solid fa-ellipsis-v text-lg cursor-pointer transition-all hover:text-primary"
                    (click)="toggleOptionsMenu(solicitud.id)"></span>

                  <div *ngIf="showOptionsMenu[solicitud.id]" class="aright-0 w-40"
                       [style.bottom.px]="showOptionsMenuBottom[solicitud.id] ? '32px' : '-10px'">
                    <div class="bg-white border border-[#535A6640] rounded-md shadow-lg p-2 assing"
                         (click)="$event.stopPropagation()">
                      <div class="flex justify-end">
                        <span class="fa-solid fa-times-circle text-lg cursor-pointer text-gray-500 transition-all hover:text-red-500"
                              (click)="closeOptionsMenu(solicitud.id)"></span>
                      </div>
                      <div>
                        <a [routerLink]="['/system/solicitud/form/', solicitud.id]" (click)="checkParticipantMatch(solicitud.created_by.id, solicitud.id)"
                           class="block py-2 pl-2 text-sm transition-all hover:text-primary">
                          Asignar estudiante
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>












              <ng-template [ngIf]="solicitud.type_request_id.catalog_value === certificado">
                <div class="relative inline-block">
                  <span class="fa-solid fa-ellipsis-v text-lg cursor-pointer transition-all hover:text-primary"
                    (click)="toggleOptionsMenu(solicitud.id)"></span>

                  <div *ngIf="showOptionsMenu[solicitud.id]" class="right-0 w-40"
                       [class.top-[-10px]]="isLastItem(index)">
                    <div class="bg-white border border-[#535A6640] rounded-md shadow-lg p-2 assing"
                         (click)="$event.stopPropagation()">
                      <div class="flex justify-end">
                        <span class="fa-solid fa-times-circle text-lg cursor-pointer text-gray-500 transition-all hover:text-red-500"
                              (click)="closeOptionsMenu(solicitud.id)"></span>
                      </div>
                      <div>
                        <a [routerLink]="['/system/portafolio/form/', getIdPortafolioFromSolicitud(solicitud,portafolios)]"
                           class="block px-4 py-2 text-sm text-neutral transition-all hover:bg-[Daisy] hover:text-[Twailwidn]">
                          Portafolio
                        </a>
                        <a [routerLink]="['/system/proyecto/form-datos-generales/', getIdProyectoFromSolicitud(solicitud,proyectoarticipante)]"
                           class="block px-4 py-2 text-sm text-neutral transition-all hover:bg-[Daisy] hover:text-[Twailwidn]">
                          Proyecto
                        </a>
                        <span (click)="openDialogAprovateCertificado(solicitud)"
                        class="fa-solid fa-box-archive text-lg ml-3 cursor-pointer transition-all hover:text-red-600"
                        *permissions="['ARCHIVAR_SOLICITUD','LEER_USUARIOS', 'LEER_ROLES']"></span>
                        <span (click)="openDialogDisapproveCertificate(solicitud)"
                        class="fa-solid fa-box-archive text-lg ml-3 cursor-pointer transition-all hover:text-red-600"
                        *permissions="['ARCHIVAR_SOLICITUD','LEER_USUARIOS', 'LEER_ROLES']"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>

                <span (click)="openDialogArchiveSolicitud(solicitud)"
                  class="fa-solid fa-box-archive text-lg ml-3 cursor-pointer transition-all hover:text-red-600"
                  *permissions="['ARCHIVAR_SOLICITUD','LEER_USUARIOS', 'LEER_ROLES']"></span>
              </th>

            </tr>
          </tbody>
        </table>
        <div *ngIf="loading || solicitudes.length == 0" class="h-[calc(100%)] w-full absolute z-10 top-0 left-0">
          <div *ngIf="loading" class="h-full w-full bg-[#535a6610] backdrop-blur-sm">
            <loader></loader>
          </div>
          <no-content *ngIf="solicitudes.length == 0 && !loading"></no-content>
        </div>
      </div>
      <pagination [config]="config"></pagination>
    </div>
  </div>
</div>
