#checkbox {
  print-color-adjust: exact;
  --tw-shadow: 0 0 #0000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-origin: border-box;
  border-color: #6b7280;
  border-width: 1px;
  color: #1c64f2;
  display: inline-block;
  flex-shrink: 0;
  height: 1rem;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 1rem;
}

#checkbox:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}

#checkbox:disabled {
  background-color: #3f51b5;
  border-color: #3f51b5;
  color: #9ca3af;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.icon {
  font-size: 24px;
}


.hoja {
  width: 210mm;
  height: 297mm;
  font-family: "Times New Roman", serif;
  font-size: 12pt;
  line-height: 1.5;
  padding: 2.54cm !important;
}

h2 {
  font-size: 14pt;
  text-align: center;
  margin-bottom: 12pt;
}
h4 {
  font-size: 12pt;
  margin-bottom: 12pt;
}
p {
  margin-bottom: 12pt;
  text-align: justify;
}

@media (max-width: 640px){
  .a4-container {
    width: 100%;
    height: auto;
  }
}

/*
@media (max-width: 640px) {
  .a4-container {
    width: 100%;
    height:auto;
}
}*/


.overlay-menu {
  z-index: 100; /* Ajusta el valor según sea necesario */
}

.table-container {
  position: relative; /* Asegura que el menú emergente se sobreponga a la tabla */
  z-index: 1; /* Asegura que la tabla esté detrás del menú emergente */
}

.assing {
  position: static;
}

.tabla{
  position:relative;
  z-index: 1;
}



.modal-content {
  text-align: center;
}

.dato {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.secondary-button,
.tertiary-button {
  margin: 0 10px;
}