<module-header title="Administrador">
  <docente_vinculacion-breadcrumbs breadcrumbs></docente_vinculacion-breadcrumbs>
  <docente_vinculacion-tabs tabs route="informe-inical"></docente_vinculacion-tabs>
</module-header>
<form class="form2">
  <div class="h5">
    <h5>FORMULARIO DE INFORME FINAL</h5>
  </div>
  <div class="tabla2">
    <table id="table">
      <thead>
        <tr>
          <th>Nombre del Proyecto</th>
          <th>Nombre de la entidad beneficiaria</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Direccion</th>
          <th>Tutor de la entidad de vinculacion</th>
          <th>Tutor del proyecto</th>
          <th>Fecha de Inicio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proyect of proyectos">
          <td>
            {{proyect.name}}
          </td>
          <td>
            {{proyect.beneficiary_institution_id.name}}
          </td>
          <td>
            {{proyect.authorized_by.user_id.email}}

          </td>

          <td>
            {{proyect.authorized_by.user_id.person.mobile_phone}}

          </td>
          <td>
            {{proyect.authorized_by.user_id.person.place_birth}}

          </td>
          <td>
          </td>


          <td>
            {{proyect.authorized_by.user_id.person.names}}{{proyect.authorized_by.user_id.person.last_names}}
          </td>
          <td>
            {{proyect.start_date}}

          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="formulario-tabla">
    <div class="container-tabla-oa">
      <table id="table2">
        <thead>
          <tr>
            <th>No</th>
            <th>OBJETIVOS</th>
            <th>ACTIVIDADES</th>
            <th>AVANCE</th>
            <th>RESULTADOS ALCANZADOS</th>
            <th>ALCANCE</th>
            <th>OBSERVACIONES</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let activit of activitiesData" >
            <td> {{activit.goals_id.id}} </td>
            <td>Crear un sistema funcional y proactivo</td>
            <td>trabajar 8 horas diarias y enviar informe diario</td>
            <td></td>
            <td></td>
            <td></td>
            <td (click)="save_comend(activit.id)"><span id="comend" >{{activit.observacion}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container2">
      <form class="myForm">
        <label for="pickup_time">Fecha de Finalizacion del Proyecto</label>
        <input type="datetime-local" name="pickup_time" id="pickup_time" disabled>

        <label for="comments">Comentarios del tutor del proyecto</label>
        <textarea name="comments" id="comments" maxlength="500" required></textarea>

        <label for="email_address">Adjuntar Archivos </label>
        <input type="file" name="email_address" id="email_address" disabled>

        <label for="email_address">Adjuntar Archivos </label>
        <input type="file" name="email_address" id="email_address" disabled>

        <label for="email_address">Adjuntar Archivos </label>
        <input type="file" name="email_address" id="email_address" disabled>

        <label for="comments">Observaciones</label>
        <textarea name="comments" id="comments" maxlength="500" value="" required></textarea>
      </form>
    </div>
  </div>
  <div class="button">
    <button class="btn btn-primary" (click)="Generar_Solicitud()">Generar PDF</button>
  </div>
</form>