<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>

<app-proyecto-breadcrumbs breadcrumbs>
  <li><a routerLink="/system/proyecto/form-plan-de-trabajo">Plan de Trabajo</a></li>
</app-proyecto-breadcrumbs>


<div class="pestanas">
  <!-- <a href="/system/proyecto/form-datos-generales" class="Datos Generales">Datos Generales</a> -->
  <!-- <a href="/system/proyecto/form-empresa" class="Empresa">Empresa</a> -->
  <!-- <a href="/system/proyecto/form-integrantes" class="Integrantes">Integrantes</a> -->
  <!-- <a href="/system/proyecto/form-actividades" class="Actividades">Actividades</a> -->
  <a href="/system/proyecto/form-plan-de-trabajo" class="Plan de Trabajo">Plan de Trabajo</a>
  <a href="/system/proyecto/form-firmas" class="Firma">Firmas</a>
  <a href="/system/proyecto/form-bibliografia" class="Bibliografía">Bibliografía</a>
  <a href="/system/proyecto/form-anexos" class="Anexos">Anexos</a>
  <a href="/system/proyecto/form-observaciones" class="Observaciones">Observaciones</a>
  <a href="/system/proyecto/form-documentos" class="Adjuntar Documentos">Adjuntar Documentos</a>
  <a href="/system/proyecto/form-certificados" class="Solicitud de Certificados">Solicitud de Certificados</a>
</div>

  <form name="registro" [formGroup]="planTrabajoForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <section class="input-field col s12 m6">
        <label for="nombre">Descripción General del Proyecto:</label><br><br><br>
        <input type="text"  formControlName="descripcionGe" name="descripcionGe" [(ngModel)]="currentEntity.descripcionGe">
        <div *ngIf="descripcionGe?.invalid && (descripcionGe?.dirty || descripcionGe?.touched)"
          class="alert alert-danger ">
          <div *ngIf="descripcionGe?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="input-field col s12 m9">
        <label for="correo">Objetivo del Proyecto: </label><br><br><br>
        <input type="email"  formControlName="objetivoPro" name="objetivoPro" [(ngModel)]="currentEntity.objetivoPro">
        <div *ngIf="objetivoPro?.invalid && (objetivoPro?.dirty || objetivoPro?.touched)" class="alert alert-danger ">
          <div *ngIf="objetivoPro?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="input-field col s12">
        <label for="direccion">Analisis Situacional:</label><br><br><br>
        <input type="text" class="materialize-textarea " formControlName="analisisSi" name="analisisSi" [(ngModel)]="currentEntity.analisisSi">
        <div *ngIf="analisisSi?.invalid && (analisisSi?.dirty || analisisSi?.touched)" class="alert alert-danger ">
          <div *ngIf="analisisSi?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <div class="row">
      <section class="input-field col s12 m3">
        <label for="edad">Justificación:</label><br><br><br>
        <input type="text"  formControlName="justificacion" name="justificacion" [(ngModel)]="currentEntity.justificacion">
        <div *ngIf="justificacion?.invalid && (justificacion?.dirty || justificacion?.touched)"
          class="alert alert-danger ">
          <div *ngIf="justificacion?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <br>
    <div>
      <h6><b>&nbsp;&nbsp;Matriz de Marco Lógico</b></h6>
    </div>


      <div class="col border">&nbsp;&nbsp;Objetivos Generales</div>
      <div class="row">

      <section class="input-field col s12 m2 sizze"><br><br>
        <input type="text" formControlName="numObjetivos" name="numObjetivos" [(ngModel)]="currentEntity.numObjetivos"><label for="nombre" class="fblack">Num</label>
      </section>
      <section class="input-field col s12 m2 sizze3"><br><br>
        <input type="text" formControlName="nombreOb" name="nombreOb" [(ngModel)]="currentEntity.nombreOb"><label for="nombre" class="fblack">Nombre</label>
        <div *ngIf="nombreOb?.invalid && (nombreOb?.dirty || nombreOb?.touched)" class="alert alert-danger">
          <div *ngIf="nombreOb?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze3"><br><br>
        <input type="text" formControlName="objetivoOb" name="objetivoOb" [(ngModel)]="currentEntity.objetivoOb"><label for="nombre" class="fblack">Objetivo</label>
        <div *ngIf="objetivoOb?.invalid && (objetivoOb?.dirty || objetivoOb?.touched)" class="alert alert-danger ">
          <div *ngIf="objetivoOb?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze3"><br><br>
        <input type="text" formControlName="indicadorOb" name="indicadorOb" [(ngModel)]="currentEntity.indicadorOb"><label for="nombre" class="fblack">Indicador Verificable</label>
        <div *ngIf="indicadorOb?.invalid && (indicadorOb?.dirty || indicadorOb?.touched)" class="alert alert-danger ">
          <div *ngIf="indicadorOb?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze3"><br><br>
        <input type="text" formControlName="metodosOb" name="metodosOb" [(ngModel)]="currentEntity.metodosOb"><label for="nombre" class="fblack">Metodos de Verificación</label>
        <div *ngIf="metodosOb?.invalid && (metodosOb?.dirty || metodosOb?.touched)" class="alert alert-danger ">
          <div *ngIf="metodosOb?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>


      <div class="border">&nbsp;&nbsp;Criterios Economicos</div>
      <div class="row">
      <section class="input-field col s12 m2 sizze"><br><br>
        <input type="text" formControlName="numCriterios" name="numCriterios" [(ngModel)]="currentEntity.numCriterios"><label for="nombre" class="fblack">Num</label>
      </section>
      <section class="input-field col s12 m2 sizze3"><br><br>
        <input type="text" formControlName="nombreCriterios" name="nombreCriterios" [(ngModel)]="currentEntity.nombreCriterios"><label for="nombre" class="fblack">Nombre</label>
        <div *ngIf="nombreCriterios?.invalid && (nombreCriterios?.dirty || nombreCriterios?.touched)"
          class="alert alert-danger ">
          <div *ngIf="nombreCriterios?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze6"><br><br>
        <input type="text" formControlName="criterioCriterios" name="criterioCriterios" [(ngModel)]="currentEntity.criterioCriterios"><label for="nombre" class="fblack">Criterio</label>
        <div *ngIf="criterioCriterios?.invalid && (criterioCriterios?.dirty || criterioCriterios?.touched)"
          class="alert alert-danger ">
          <div *ngIf="criterioCriterios?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>
    <br><br>
    <div class="row">

      <section class="input-field col s12 m2 sizze4"><br><br>
        <input type="text" formControlName="objetivosEs" name="objetivosEs" [(ngModel)]="currentEntity.objetivosEs"><label for="nombre" class="azul fblack"><b>Objetivos Especificos</b></label>
        <div *ngIf="objetivosEs?.invalid && (objetivosEs?.dirty || objetivosEs?.touched)" class="alert alert-danger ">
          <div *ngIf="objetivosEs?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze6"><br><br>
        <input type="text" formControlName="indicadoresVe" name="indicadoresVe" [(ngModel)]="currentEntity.indicadoresVe"><label for="nombre" class="azul fblack"><b>Indicadores Verificables</b></label>
        <div *ngIf="indicadoresVe?.invalid && (indicadoresVe?.dirty || indicadoresVe?.touched)"
          class="alert alert-danger ">
          <div *ngIf="indicadoresVe?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze6"><br><br>
        <input type="text" formControlName="mediosVe" name="mediosVe" [(ngModel)]="currentEntity.mediosVe"><label for="nombre" class="azul fblack"><b>Medios de Verificación</b></label>
        <div *ngIf="mediosVe?.invalid && (mediosVe?.dirty || mediosVe?.touched)" class="alert alert-danger ">
          <div *ngIf="mediosVe?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="input-field col s12 m3">
        <label for="edad">Conclusiones:</label><br><br><br>
        <input type="text"  formControlName="conclusiones" name="conclusiones" [(ngModel)]="currentEntity.conclusiones">
        <div *ngIf="conclusiones?.invalid && (conclusiones?.dirty || conclusiones?.touched)"
          class="alert alert-danger ">
          <div *ngIf="conclusiones?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <div class="row">
      <section class="input-field col s12 m3">
        <label for="edad">Recomendaciones:</label><br><br><br>
        <input type="text"  formControlName="recomendaciones" name="recomendaciones" [(ngModel)]="currentEntity.recomendaciones">
        <div *ngIf="recomendaciones?.invalid && (recomendaciones?.dirty || recomendaciones?.touched)"
          class="alert alert-danger ">
          <div *ngIf="recomendaciones?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <button class="btn waves-effect waves-light right" type="submit" [disabled]="!planTrabajoForm.valid">
      Confirmar
        <!--<img class="small pull-right" src="../../../../assets/images/visto.png" alt="">-->
    </button>
  </form>
