<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>


  <app-proyecto-breadcrumbs breadcrumbs>
    <li><a routerLink="/system/proyecto/form-empresa">Empresa</a></li>
  </app-proyecto-breadcrumbs>



  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " type="submit">Generar PDF
    <!--<img class="pullsito" src="../../../../assets/image/pdf.png" alt="">-->
</button>&nbsp;&nbsp;&nbsp;

<button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " type="submit">Generar Convenio
    <!--<img class="pullsito" src="../../../../assets/image/convenio.png" alt="">-->
</button>&nbsp;&nbsp;&nbsp;

<button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " type="submit">Generar ITV
</button>
<br><br>
<div class="pestanas">
  <a [routerLink]="['/system/proyecto/form-datos-generales',currentEntity.id]" class="Datos Generales">Datos Generales</a>
  <a [routerLink]="['/system/proyecto/form-empresa',currentEntity.id]" class="Empresa">Empresa</a>
  <a [routerLink]="['/system/proyecto/form-integrantes',currentEntity.id]" class="Integrantes">Integrantes</a>
  <a [routerLink]="['/system/proyecto/form-actividades',currentEntity.id]" class="Actividades">Actividades</a>
  <a [routerLink]="['/system/proyecto/form-plan-de-trabajo',currentEntity.id]" class="Plan de Trabajo">Plan de Trabajo</a>
  <a [routerLink]="['/system/proyecto/form-firmas',currentEntity.id]" class="Firma">Firmas</a>
  <a [routerLink]="['/system/proyecto/form-bibliografia',currentEntity.id]" class="Bibliografía">Bibliografía</a>
  <a [routerLink]="['/system/proyecto/form-anexos',currentEntity.id]" class="Anexos">Anexos</a>
  <a [routerLink]="['/system/proyecto/form-observaciones',currentEntity.id]" class="Observaciones">Observaciones</a>
  <!--<a [routerLink]="['/system/proyecto/form-documentos',currentEntity.id]" class="Adjuntar Documentos">Adjuntar Documentos</a>
  <a [routerLink]="['/system/proyecto/form-certificados',currentEntity.id]" class="Solicitud de Certificados">Solicitud de Certificados</a>-->
</div>

  <form name="registro" (ngSubmit)="onSubmit()">
    <div class="col s12 m4">
      <section class="input-field col s12 m9">
        <label for="nombre">Nombre de la Entidad:</label><br><br>
        <combobox-institucion-beneficiaria (institucionBeneficiariaHttpIdEmitter)="currentEntity.beneficiary_institution_id.id=$event" [institucionBeneficiariaHttpId]="currentEntity.beneficiary_institution_id.id"></combobox-institucion-beneficiaria>
      </section>
     <section class="input-field s12 m6">
          <label for="edad">Naturaleza de Gestión de la Entidad Receptora:</label><br><br>
          <input class="with-gap" type="radio" name="naturalezaRadio" id="publica" value="publica" [(ngModel)]="currentEntity.beneficiary_institution_id.management_nature">
          <label for="publica">Pública</label> &nbsp;&nbsp;
          <input class="with-gap" type="radio" name="naturalezaRadio" id="privada" value="privada" [(ngModel)]="currentEntity.beneficiary_institution_id.management_nature">
          <label for="privada">Privada</label><br>
          <input class="with-gap" type="radio" name="naturalezaRadio" id="mixta" value="mixta" [(ngModel)]="currentEntity.beneficiary_institution_id.management_nature">
          <label for="mixta">Mixta</label>
      </section><br>
      <section class="input-field s12 m6">
        <label for="nombre">Nombre de la persona autorizada legalmente para la suscripción del convenio:</label><br><br>
        <combobox-responsible (responsibleIdEmitter)="currentEntity.authorized_by=$event" [responsibleId]="currentEntity.authorized_by"></combobox-responsible>
      </section>
      <section class="input-field s12 m6">
        <label for="apellido">Numero de RUC:</label><br><br>
        <input type="text" name="numRuc" [(ngModel)]="currentEntity.beneficiary_institution_id.ruc">
      </section>
      <section class="input-field s12 m6">
        <label for="nombre">Actividad Económica que consta en el RUC:</label><br><br>
        <input type="text" name="actividadEc" [(ngModel)]="currentEntity.beneficiary_institution_id.economic_activity">
      </section>
      <section class="input-field s12 m6">
        <label for="apellido">Correo Electrónico de la Empresa:</label><br><br>
        <input type="text" name="correoE" [(ngModel)]="currentEntity.beneficiary_institution_id.email">
      </section>
      <section class="input-field s12 m6">
        <label for="apellido">Télefono de Contacto:</label><br><br>
        <input type="text" name="telfCo" [(ngModel)]="currentEntity.beneficiary_institution_id.phone">
      </section>
    </div>

    <div class="col s12 m4">
      <section class="input-field s12 m6">
        <label class="Titulo"><b>Dirección Matriz de Entidad Receptora</b></label><br><br>
      </section>
      <section class="input-field s12 m6">
        <label for="nombre">Provincia:</label><br><br>
        <select class="browser-default" [ngModel]="currentEntity.beneficiary_institution_id.parish_main_id.province" name="provinciaMa" (change)="onChangeProvinciaMatriz($event.target)"
          name="provincia">
          <option value="" disabled="" selected="">Seleccione una provincia</option>
          <option *ngFor="let provincia of provinciasMapping" [value]="provincia.nombre">{{provincia.nombre}}</option>
        </select>
      </section>
      <section class="input-field s12 m6">
        <label for="nombre">Cantón:</label><br><br>
        <select class="browser-default" [ngModel]="currentEntity.beneficiary_institution_id.parish_main_id.canton" name="cantonMa"  (change)="onChangeCantonMatriz($event.target)">
          <option value="" disabled="" selected="">Seleccione un cantón</option>
          <option *ngFor="let canton of cantonesMa" [value]="canton.nombre">{{canton.nombre}}</option>
        </select>
      </section>
      <section class="input-field s12 m6">
        <label for="nombre">Parroquia:</label><br><br>
        <select class="browser-default" [ngModel]="currentEntity.beneficiary_institution_id.parish_main_id.parish" name="parroquiaMa" (change)="onChangeParroquiaMatriz($event.target)">
          <option value="" disabled="" selected="">Seleccione una Parroquia</option>
          <option *ngFor="let parroquia of parroquiasMa" [value]="parroquia.nombre">{{parroquia.nombre}}</option>
        </select>
      </section>
     <!--<section class="input-field s12 m6">
        <label for="nombre">Dirección:</label><br>
        <input type="text" name="direccionMa" [(ngModel)]="currentEntity.beneficiary_institution_id.email">
      </section>-->

      <section class="input-field s12 m6">
        <label class="Titulo"><b>Dirección Sucursal de Entidad Receptora</b></label><br><br>
      </section>
      <section class="input-field s12 m6">
        <label for="nombre">Provincia:</label><br><br>
        <select class="browser-default"  [ngModel]="currentEntity.beneficiary_institution_id.parish_branch_id.province" name="provinciaSu" (change)="onChangeProvinciaSucursal($event.target)"
          name="provincia">
          <option value="" disabled="" selected="">Seleccione una provincia</option>
          <option *ngFor="let provincia of provinciasMapping" [value]="provincia.nombre">{{provincia.nombre}}</option>
        </select>
      </section>
      <section class="input-field s12 m6">
        <label for="nombre">Cantón:</label><br><br>
        <select class="browser-default" [ngModel]="currentEntity.beneficiary_institution_id.parish_branch_id.canton" name="cantonSu" (change)="onChangeCantonSucursal($event.target)">
          <option value="" disabled="" selected="">Seleccione un cantón</option>
          <option *ngFor="let canton of cantonesSu" [value]="canton.nombre">{{canton.nombre}}</option>
        </select>
      </section>
      <section class="input-field s12 m6">
        <label for="nombre">Parroquia:</label><br><br>
        <select class="browser-default" [ngModel]="currentEntity.beneficiary_institution_id.parish_branch_id.parish" name="parroquiaSu" (change)="onChangeParroquiaSucursal($event.target)">
          <option value="" disabled="" selected="">Seleccione una Parroquia</option>
          <option *ngFor="let parroquia of parroquiasSu" [value]="parroquia.nombre">{{parroquia.nombre}}</option>
        </select>
      </section>
      <!--<section class="input-field s12 m6">
        <label for="nombre">Dirección:</label><br>
        <input type="text" name="direccionSu" [(ngModel)]="currentEntity.beneficiary_institution_id.email">
      </section>-->
    </div>

    <div class="col s12 m4">
      <!--<section class="input-field s12 m6">
        <label for="apellido">Numero de Estudiantes que recibirá inicialmente la Entidad:</label><br><br>
        <input type="text" name="numEE" [(ngModel)]="currentEntity.beneficiary_institution_id.email">
      </section>
      <section class="input-field s12 m6">
        <label for="apellido">Total de Estudiantes que recibirá la Entidad:</label><br><br>
        <input type="text" name="totalEE" [(ngModel)]="currentEntity.beneficiary_institution_id.email">
      </section>-->
      <section class="input-field s12 m6">
        <label for="apellido">Lugar de Ubicación:</label><br><br>
        <input type="text" name="lugarU" [(ngModel)]="currentEntity.beneficiary_institution_id.place_location">
      </section>
     <!--<section class="input-field s12 m6">
        <label for="apellido">Beneficiarios Directos:</label><br><br>
        <input type="text" name="beneficiariosDi" [(ngModel)]="currentEntity.beneficiary_institution_id.email">
      </section>
      <section class="input-field s12 m6">
        <label for="apellido">Beneficiarios Indirectos:</label><br><br>
        <input type="text" name="beneficiariosIndi" [(ngModel)]="currentEntity.beneficiary_institution_id.email">
      </section>-->
    </div>

    <button class="btn waves-effect waves-light right" type="submit">
      Confirmar

        <img class="small pull-right" src="../../../../assets/image/visto.png" alt="">

    </button>

  </form>
