<div class="tabs flex w-full justify-between items-end flex-row-reverse">
  <a
    [routerLinkActive]="['tab-active']"
    routerLink="/system/{{ route }}/list/archived"
    class="tab tab-lifted !-mr-0 archived"
    *permissions="[
            'LEER_PROYECTO',
            'CREAR_PROYECTO',
            'ACTUALIZAR_PROYECTO',
            'ARCHIVAR_PROYECTO',
            'RESTAURAR_PROYECTO',
            'ELIMINAR_PROYECTO',
            'EXPORTAR_PROYECTO',
            'IMPORTAR_PROYECTO',
    ]"
  >
    <span class="fa-regular fa-trash-can text-sm leading-none mr-2"></span>
    Archivados
  </a>
  <div></div>

  <div class="flex items-end">
    <a
      [routerLinkActive]="['tab-active']"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="'/system/' + route + '/list/'"
      class="tab tab-lifted"
      *permissions="[
            'LEER_PROYECTO',
            'CREAR_PROYECTO',
            'ACTUALIZAR_PROYECTO',
            'ARCHIVAR_PROYECTO',
            'RESTAURAR_PROYECTO',
            'ELIMINAR_PROYECTO',
            'EXPORTAR_PROYECTO',
            'IMPORTAR_PROYECTO',
  ]"
    >
      Todo
    </a>
  </div>
</div>

