<!-- SIDEBAR -->
<div id="sidebar" class="shadow-xl h-screen overflow-hidden bg-white">
  <div class="h-12 flex border-b border-x-stone-700 items-center bg-primary">
    <a href="#">
      <img class="ml-[2rem] w-1" src="../../../assets/images/LogoYavirac.png" alt="yavirac"
        class="ml-[4rem] min-w-[3rem]" [ngClass]="{ hidden: !sidebar }" style="height: 3rem;" />
      <img src="../../../assets/images/LogoYavirac.png" alt="yavirac" class="ml-[11px] w-12"
        [ngClass]="{ hidden: sidebar }" />
    </a>
  </div>

  <div class="p-4 flex justify-between flex-col text-neutral" style="height: calc(100vh - 4rem)">
    <ul>
      <li [routerLinkActive]="['active']" routerLink="/system/dashboard"
        class="flex pl-0 rounded-md items-center transition-all hover:bg-[#3f51b521] cursor-pointer">
        <div class="flex justify-center items-center min-w-[2.25rem] min-h-[2.25rem] rounded-md">
          <span class="fas fa-home text-sm leading-none"></span>
        </div>
        <div class="h-9 rounded-md flex items-center">
          <a class="flex items-center text-sm" [ngClass]="{ hidden: !sidebar }">
            <span class="text-ellipsis overflow-hidden whitespace-nowrap">Home</span>
          </a>
        </div>
      </li>

      <div *permissions="[
          'LEER_USUARIOS',
          'CREAR_USUARIOS',
          'ACTUALIZAR_USUARIOS',
          'ELIMINAR_USUARIOS'
        ]">
        <div class="opacity-50">
          <div class="mt-5 mb-1.5">
            <h2 class="text-xs font-normal text-ellipsis overflow-hidden whitespace-nowrap"
              [ngClass]="{ 'opacity-0 pointer-events-none': !sidebar }">
              Administración
            </h2>
          </div>
        </div>
        <li [routerLinkActive]="['active']" routerLink="/system/personal" *permissions="[
            'LEER_USUARIOS',
            'CREAR_USUARIOS',
            'ACTUALIZAR_USUARIOS',
            'ELIMINAR_USUARIOS',
            'LEER_ROLES',
            'CREAR_ROLES',
            'ACTUALIZAR_ROLES',
            'ELIMINAR_ROLES'
          ]" class="flex pl-0 rounded-md items-center transition-all hover:bg-[#3f51b521] cursor-pointer">
          <div class="flex justify-center items-center min-w-[2.25rem] min-h-[2.25rem] rounded-md">
            <span class="fas fa-user-tie text-base leading-none"></span>
          </div>
          <div class="h-9 rounded-md flex items-center">
            <a class="flex items-center text-sm" [ngClass]="{ hidden: !sidebar }">
              <span class="text-ellipsis overflow-hidden whitespace-nowrap">Operador</span>
            </a>
          </div>
        </li>
        <br>
        <li class="pl-0 rounded-md items-center transition-all hover:bg-[#3f51b521] cursor-pointer">
          <button type="button" [ngClass]="{ hidden: !sidebar }"
            class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
            aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
            <div class="flex justify-center items-center min-w-[2.25rem] min-h-[2.25rem] rounded-md">
              <span class="fas fa-user-tie text-base leading-none"></span>
            </div>
            <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>Reporte</span>
            <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
          <ul id="dropdown-example" class="hidden py-2 space-y-2">
            <li [routerLinkActive]="['active']" routerLink="/system/docente-vinculacion/informe-inicial" *permissions="[
            'LEER_USUARIOS',
            'CREAR_USUARIOS',
            'ACTUALIZAR_USUARIOS',
            'ELIMINAR_USUARIOS',
            'LEER_ROLES',
            'CREAR_ROLES',
            'ACTUALIZAR_ROLES',
            'ELIMINAR_ROLES'
          ]" class="flex pl-0 rounded-md items-center transition-all hover:bg-[#3f51b521] cursor-pointer">
              <div class="flex justify-center items-center min-w-[2.25rem] min-h-[2.25rem] rounded-md">
                <span class="fas fa-user-tie text-base leading-none"></span>
              </div>
              <div class="h-9 rounded-md flex items-center">
                <a class="flex items-center text-sm" [ngClass]="{ hidden: !sidebar }">
                  <span class="text-ellipsis overflow-hidden whitespace-nowrap">Informe Incial</span>
                </a>
              </div>
            </li>
            <br>
            <li [routerLinkActive]="['active']" routerLink="/system/docente-vinculacion/informe-control" *permissions="[
            'LEER_USUARIOS',
            'CREAR_USUARIOS',
            'ACTUALIZAR_USUARIOS',
            'ELIMINAR_USUARIOS',
            'LEER_ROLES',
            'CREAR_ROLES',
            'ACTUALIZAR_ROLES',
            'ELIMINAR_ROLES'
          ]" class="flex pl-0 rounded-md items-center transition-all hover:bg-[#3f51b521] cursor-pointer">
              <div class="flex justify-center items-center min-w-[2.25rem] min-h-[2.25rem] rounded-md">
                <span class="fas fa-user-tie text-base leading-none"></span>
              </div>
              <div class="h-9 rounded-md flex items-center">
                <a class="flex items-center text-sm" [ngClass]="{ hidden: !sidebar }">
                  <span class="text-ellipsis overflow-hidden whitespace-nowrap">Informe control</span>
                </a>
              </div>
            </li>
            <br>
            <li [routerLinkActive]="['active']" routerLink="/system/docente-vinculacion/formulario-final-tutor"
              *permissions="[
            'LEER_USUARIOS',
            'CREAR_USUARIOS',
            'ACTUALIZAR_USUARIOS',
            'ELIMINAR_USUARIOS',
            'LEER_ROLES',
            'CREAR_ROLES',
            'ACTUALIZAR_ROLES',
            'ELIMINAR_ROLES'
          ]" class="flex pl-0 rounded-md items-center transition-all hover:bg-[#3f51b521] cursor-pointer">
              <div class="flex justify-center items-center min-w-[2.25rem] min-h-[2.25rem] rounded-md">
                <span class="fas fa-user-tie text-base leading-none"></span>
              </div>
              <div class="h-9 rounded-md flex items-center">
                <a class="flex items-center text-sm" [ngClass]="{ hidden: !sidebar }">
                  <span class="text-ellipsis overflow-hidden whitespace-nowrap">Informe Final</span>
                </a>
              </div>
            </li>
            <div class="h-0 my-2 border border-solid border-t-0 border-slate-800 opacity-25"></div>
            <li [routerLinkActive]="['active']" routerLink="/system/estudiante/informe-final-estudiante" *permissions="[
          'LEER_USUARIOS',
          'CREAR_USUARIOS',
          'ACTUALIZAR_USUARIOS',
          'ELIMINAR_USUARIOS',
          'LEER_ROLES',
          'CREAR_ROLES',
          'ACTUALIZAR_ROLES',
          'ELIMINAR_ROLES'
        ]" class="flex pl-0 rounded-md items-center transition-all hover:bg-[#3f51b521] cursor-pointer">
              <div class="flex justify-center items-center min-w-[2.25rem] min-h-[2.25rem] rounded-md">
                <span class="fas fa-user-tie text-base leading-none"></span>
              </div>
              <div class="h-9 rounded-md flex items-center">
                <a class="flex items-center text-sm" [ngClass]="{ hidden: !sidebar }">
                  <span class="text-ellipsis overflow-hidden whitespace-nowrap">Informe Estudiante</span>
                </a>
              </div>
            </li>
          </ul>
        </li>
      

        <div class="opacity-50">
          <div class="mt-5 mb-1.5">
            <h2 class="text-xs font-normal text-ellipsis overflow-hidden whitespace-nowrap"
              [ngClass]="{ 'opacity-0 pointer-events-none': !sidebar }">
              Documentación
            </h2>
          </div>
        </div>

        <li [routerLinkActive]="['active']" routerLink="/system/portafolio"
          class="flex pl-0 rounded-md items-center transition-all hover:bg-[#3f51b521] cursor-pointer">
          <div class="flex justify-center items-center min-w-[2.25rem] min-h-[2.25rem] rounded-md">
            <span class="fa-solid fa-id-card-clip text-base leading-none"></span>
          </div>
          <div class="h-9 rounded-md flex items-center">
            <a class="flex items-center text-sm" [ngClass]="{ hidden: !sidebar }">
              <span class="text-ellipsis overflow-hidden whitespace-nowrap">Portafolio</span>
            </a>
          </div>
        </li>



      </div>
    </ul>

    <ul>
      <li class="text-xs opacity-50">
        <span *ngIf="sidebar" class="uppercase mr-1">System Yavirac</span>
        <span>v2.0</span>
      </li>
    </ul>
  </div>
</div>