<div class="ml-8 text-xs breadcrumbs text-neutral opacity-80 font-medium">
  <ul>
    <li>
      <span class="las la-home text-base leading-none mr-1"></span
      ><a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/system/estudiante/carta-compromiso">Registro Asistencia<</a>
    </li>
    <ng-content></ng-content>
  </ul>
</div>
<module-header title="Asistencia"></module-header>
<div class="container mx-auto">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
