<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>

  <app-proyecto-breadcrumbs breadcrumbs>
    <li><a routerLink="/system/proyecto/form-datos-generales">Datos Generales</a></li>
  </app-proyecto-breadcrumbs>

  <button ng-disabled="registro.$invalid" class="btn button waves-effect waves-light " (click)="pdf()" type="submit">Generar PDF
      <!--<img class="pullsito" src="../../../../assets/images/pdf.png" alt="">-->
  </button>&nbsp;&nbsp;&nbsp;

  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light "  (click)="pdf_convenio()" type="submit">Generar Convenio
      <!--<img class="pullsito" src="../../../../assets/images/convenio.png" alt="">-->
  </button>&nbsp;&nbsp;&nbsp;

  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " (click)="pdf_itv()" type="submit">Generar ITV
  </button>

  <br><br>
  <div class="pestanas" [ngClass]="{ 'disabled-link': !isIdDefined() }">
    <a [routerLink]="['/system/proyecto/form-datos-generales',currentEntity.id]" class="Datos Generales">Datos Generales</a>
    <a [routerLink]="['/system/proyecto/form-empresa',currentEntity.id]" class="Empresa">Empresa</a>
    <a [routerLink]="['/system/proyecto/form-integrantes',currentEntity.id]" class="Integrantes">Integrantes</a>
    <a [routerLink]="['/system/proyecto/form-actividades',currentEntity.id]" class="Actividades">Actividades</a>
    <a [routerLink]="['/system/proyecto/form-plan-de-trabajo',currentEntity.id]" class="Plan de Trabajo">Plan de Trabajo</a>
    <a [routerLink]="['/system/proyecto/form-firmas',currentEntity.id]" class="Firma">Firmas</a>
    <a [routerLink]="['/system/proyecto/form-bibliografia',currentEntity.id]" class="Bibliografía">Bibliografía</a>
    <a [routerLink]="['/system/proyecto/form-anexos',currentEntity.id]" class="Anexos">Anexos</a>
    <a [routerLink]="['/system/proyecto/form-observaciones',currentEntity.id]" class="Observaciones">Observaciones</a>
    <!--<a [routerLink]="['/system/proyecto/form-documentos',currentEntity.id]" class="Adjuntar Documentos">Adjuntar Documentos</a>
    <a [routerLink]="['/system/proyecto/form-certificados',currentEntity.id]" class="Solicitud de Certificados">Solicitud de Certificados</a>-->
  </div>

  <form name="registro" (ngSubmit)="onSubmit()">
    <div class="col">
      <div class="row">
      <section class="input-field col s12 m6">
        <label for="">Codigo de Proyecto:</label><br><br>
        <input type="text" name="code" [(ngModel)]="currentEntity.code">

      </section>
      <section class="input-field col s12 m6">
        <label for="">Nombre del Proyecto:</label><br><br>
        <input type="text" name="name" [(ngModel)]="currentEntity.name">

      </section>
    </div>
      <div class="row">
        <section class="input-field col s12 m9">
          <label for="">Nombre del Instituto: </label><br><br>
          <combobox-institute (instituteIdEmitter)="currentEntity.institute_id=$event" [instituteId]="currentEntity.institute_id"></combobox-institute>
        </section>
       <section class="input-field col s12 m3">
          <label for="">Ciclo:</label><br><br>
          <combobox-school-period (schoolPeriodIdEmitter)="currentEntity.school_period_id=$event" [schoolPeriodId]="currentEntity.school_period_id"></combobox-school-period>
        </section>
      </div>
      <div class="row">
        <section class="input-field col s12">
          <label for="">Cobertura y Localización:</label><br><br>
          <input type="text" class="materialize-textarea" name="coverage" [(ngModel)]="currentEntity.coverage">
        </section>
      </div>
    </div>
    <div class="col">
      <div class="row">
     <section class="input-field col s12 m3">
        <label for="">Carrera:</label><br><br>
       <!--<input type="text" name="career" [(ngModel)]="currentEntity.career">-->
        <combobox-career (careerIdEmitter)="currentEntity.career_id=$event" [careerId]="currentEntity.career_id"></combobox-career>
      </section>
      <section class="input-field col s12 m3">
        <label for="Modalidad">Modalidad:</label><br><br>
          <input class="with-gap" type="radio" name="modalidadRadio" id="presencial" value="presencial" [(ngModel)]="currentEntity.modality">
          <label for="presencial">Presencial</label> &nbsp;&nbsp;
          <input class="with-gap" type="radio" name="modalidadRadio" id="dual" value="dual"  [(ngModel)]="currentEntity.modality">
          <label for="dual">Dual</label>
      </section>
    </div>
      <div class="row">
       <section class="input-field col s12 m9">
          <label for="">Financiamiento:</label><br><br>
          <input type="text" name="financing" [(ngModel)]="currentEntity.financing">
        </section>

        <section class="input-field col s12 m3">
          <label for="">Plazo de Ejecución:</label><br><br>
          <input type="text" name="term_execution" [(ngModel)]="currentEntity.term_execution">
        </section>
      </div>
      <!--<div class="row">
      <section class="input-field col s12 m9">
          <label for="">Fecha:</label><br><br>
          <input type="date" formControlName="fecha" name="fecha" [(ngModel)]="currentEntity.fecha">
          <div *ngIf="fecha?.invalid && (fecha?.dirty || fecha?.touched)" class="alert alert-danger ">
            <div *ngIf="fecha?.errors?.['required']">
              Ingrese una fecha.
            </div>
            <div *ngIf="fecha?.errors?.['customDateValidation']">
              Ingrese un año menor a 3000.
            </div>
          </div>
        </section>
        <section class="input-field col s12 m3">
          <label for="">Plazo de Vigencia del Convenio:</label><br><br>
          <input type="date" formControlName="plazoVigenciaConvenio" name="vigencia" [(ngModel)]="currentEntity.vigencia">
          <div
            *ngIf="plazoVigenciaConvenio?.invalid && (plazoVigenciaConvenio?.dirty || plazoVigenciaConvenio?.touched)"
            class="alert alert-danger ">
            <div *ngIf="plazoVigenciaConvenio?.errors?.['required']">
              Ingrese una fecha.
            </div>
            <div *ngIf="plazoVigenciaConvenio?.errors?.['customDateValidation']">
              Ingrese un año menor a 3000.
            </div>
          </div>
        </section>
      </div>-->
      <div class="row">
        <!--<section class="input-field col s12">
          <label for="">Fecha de Presentación:</label><br><br>
          <input type="date" class="materialize-textarea" formControlName="fechaPresentacion" name="fechaPresentacion" [(ngModel)]="currentEntity.fechaPresentacion">
          <div *ngIf="fechaPresentacion?.invalid && (fechaPresentacion?.dirty || fechaPresentacion?.touched)"
            class="alert alert-danger ">
            <div *ngIf="fechaPresentacion?.errors?.['required']">
              Ingrese una fecha.
            </div>
            <div *ngIf="fechaPresentacion?.errors?.['customDateValidation']">
              Ingrese un año menor a 3000.
            </div>
          </div>
        </section>-->
      </div>
      <div class="row">
        <section class="input-field col s12">
          <label for="">Fecha de Inicio:</label><br><br>
          <input type="datetime-local" class="materialize-textarea" name="start_date" [(ngModel)]="currentEntity.start_date">

        </section>

        <section class="input-field col s12">
          <label for="">Fecha Final:</label><br><br>
          <input type="datetime-local" class="materialize-textarea" name="end_date" [(ngModel)]="currentEntity.end_date">

        </section>
      </div>
      <button class="btn waves-effect waves-light right" type="submit">
        Confirmar
          <!--<img class="small pull-right" src="../../../../assets/images/visto.png" alt="">-->
      </button>
    </div>
  </form>
