<!-- modal-solicitudes.component.html -->
<h1 class="text-center">Listado de Estudiantes</h1>
  <table class="my_table w-full text-sm text-left text-neutral">
    <thead class="text-xs text-white uppercase bg-primary">
      <tr>
        <th scope="col" class="py-3 px-6">#</th>
        <th scope="col" class="py-3 px-6">
          <div class="flex items-center">
            Nombre del Estudiante
            <a class="cursor-pointer ml-1" *ngIf="reverse && solicitudes.length > 1" (click)="reversOrder()">
              <span class="fa-solid fa-caret-up"></span>
            </a>
            <a class="cursor-pointer ml-1" *ngIf="!reverse && solicitudes.length > 1" (click)="reversOrder()">
              <span class="fa-solid fa-caret-down"></span>
            </a>
          </div>
        </th>
        <th scope="col" class="py-3 px-6">
          Tipo de Solicitud
        </th>
        <th scope="col" class="py-3 px-6">
          Cedula
        </th>
        <th scope="col" class="py-3 px-6">
          Estado
        </th>
      </tr>
    </thead>
    <tbody class="divide-y-[0.5px] divide-[#535A6640]">
      <ng-container *ngFor="let solicitud of solicitudes | paginate: config; let index = index">
        <tr class="bg-white hover:bg-[#4052b510] transition-all" *ngIf="solicitud.type_request_id.catalog_value === 'Vinculación'
        && isBeneficiaryInstitutionMatch(solicitud)">
          <th scope="row" class="py-[3.8px] px-6 font-medium text-neutral whitespace-nowrap dark:text-neutral">
            <!-- Indice en orden ascendente -->
            <span *ngIf="!reverse">{{ config.itemsPerPage * (config.currentPage - 1) + index + 1 }}</span>
            <!-- indice en orden descentente -->
            <span *ngIf="reverse">{{ solicitudes.length - (config.itemsPerPage * (config.currentPage - 1) + index) }}</span>
          </th>
          <td class="py-[3.8px] px-6 capitalize">
            <span>{{ solicitud.created_by.person | NamesSurnamesComplete }}</span>
          </td>
          <td class="py-[3.8px] px-6 font-medium text-neutral whitespace-nowrap dark:text-neutral capitalize">
            <span>{{ solicitud.type_request_id.catalog_value }}</span>
          </td>
          <td class="py-[3.8px] px-6">
            <span>{{ solicitud.created_by.person.identification }}</span>
          </td>
          <td class="py-[3.8px] px-6 capitalize">
            <span>{{ solicitud.solicitudes_status_id.catalog_value }}</span>
          </td>
        </tr>
        <ng-template #noSolicitudes>
          <tr>
            <td colspan="5" class="py-4 text-center">No tiene solicitudes</td>
          </tr>
        </ng-template>
      </ng-container>
    </tbody>

  </table>


