/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

.snackbar {
  background: #1f2937;
  padding: 0 !important;
  min-width: 200px !important;
}

.mat-accordion>.mat-expansion-panel-spacing{
  border: #535a6650 1px solid !important;
}

.mat-expansion-panel-header {
  color: #535a66 !important;
  padding: 0px !important;
  height: 48px !important;
  transition: all 0.1s ease !important;
  background: #ffffff !important;
  border: none !important;
  border-radius: none !important;
  /*border-radius: none;*/
  font-family: "ui-sans-serif", "system-ui", -apple-system, BlinkMacSystemFont,    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  -webkit-transition: all 0.1s ease !important;
  -moz-transition: all 0.1s ease !important;
  -ms-transition: all 0.1s ease !important;
  -o-transition: all 0.1s ease !important;
  -webkit-border-radius: none !important;
  -moz-border-radius: none !important;
  -ms-border-radius: none !important;
  -o-border-radius: none !important;
}

.mat-expansion-panel-header:hover {
  background: #ebecf0 !important;
}

.mat-expansion-panel-content {
  background: #ffffff !important;
  font-family: "ui-sans-serif", "system-ui", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  border-color: #535a66 !important;
  color: #535a66 !important;
}

.mat-expansion-panel-body {
  background: #ebecf080 !important;
  padding: 0px !important;
  margin-top: -4px !important;
  border: none !important;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}

.mat-expansion-panel-header.mat-expanded {
  background: #f5f5f7 !important;
  height: 48px !important;
}

input {
  color: #535a66 !important;
}

*******************/
.text-white {
  color: #fcf9f9 !important; }

.text-dark {
    color: #080808 !important; }

.text-danger {
  color: #ef5350 !important; }



.text-warning {
  color: #ffb22b !important; }

.text-success {
  color: #06d79c !important; }

.text-info {
  color: #398bf7 !important; }

.text-inverse {
  color: #2f3d4a !important; }

/*******************
Background Colors
*******************/
.bg-primary {
  background-color: #19418B !important; }

.bg-success {
  background-color: #13ac80 !important; }

.bg-info {
  background-color: #398bf7 !important; }

.bg-purple {
  background-color: #701fdb !important; }

.bg-warning {
  background-color: #ffb22b !important; }

.bg-danger {
  background-color: #ef5350 !important; }
.bg-secondary{
  background-color: #3965B8 !important;
}
.table {
  background-color: #3965B8 !important;
}
.bg-ligth-white {
  background-color: #f3f5fc !important; }

.place-items-right {
  justify-items: end;
  text-align: right;
}

.p-4 {
  padding: 1.0rem!important;
}

.h-16 {
  height: 4.3rem!important;
}
